<!DOCTYPE html>

<html>
   <head>
   
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="highlight/styles/github.css">
      <link rel="stylesheet" href="css/style.css">
      <script src="highlight/highlight.pack.js"></script>
      <script>
         $(document).ready(function(){
            $('pre.code').each(function(i, block) {
               hljs.highlightBlock(block);
            }); 
         });
      </script> 
   </head>

   <body>
      <div class="container">
         <div class="jumbotron" style="background-color:white">
            <h1>Python Cheat Sheet</h1>
            <p>Cheat sheet of Python. Some basic concept for debug, test and profiling.</p>
         </div>
         <div class="row">
            <div class="col-sm-4">
<h3>Debug Switch - logging</h3>
<pre class="code python">
# see: python document-Logging HOWTO
# "print" debug message when you need.
# default level: warning
&gt;&gt;&gt; import logging
&gt;&gt;&gt; logging.debug("debug")
&gt;&gt;&gt; logging.info("info")
&gt;&gt;&gt; logging.warning("warning")
WARNING:root:warning
&gt;&gt;&gt; logging.error("error")
ERROR:root:error
&gt;&gt;&gt; logging.critical("cirtical")
CRITICAL:root:cirtical

# set up level: debug
&gt;&gt;&gt; logging.basicConfig(
...   level =logging.DEBUG)
&gt;&gt;&gt; logging.debug("debug")
DEBUG:root:debug
&gt;&gt;&gt; logging.info("info")
INFO:root:info
&gt;&gt;&gt; logging.warning("warning")
WARNING:root:warning
&gt;&gt;&gt; logging.error("error")
ERROR:root:error
&gt;&gt;&gt; logging.critical("cirtical")
CRITICAL:root:cirtical

# log to a file(raw data)
&gt;&gt;&gt; logging.basicConfig(
...   filename='example.log',
...   level=logging.DEBUG)

# display with format with date
&gt;&gt;&gt; logging.basicConfig(
...   format='%(asctime)s: %(message)s',
...   datefmt='%m/%d/%Y %I:%M:%S %p')
&gt;&gt;&gt; logging.warning("warning")
03/16/2015 10:46:35 PM: warning

# logger object
&gt;&gt;&gt; logger = logging.getLogger(__name__)
&gt;&gt;&gt; logger.setLevel(logging.DEBUG)
&gt;&gt;&gt; logger.info('info')
INFO:__main__:info
# set logger level
&gt;&gt;&gt; logger.setLevel(logging.ERROR)
&gt;&gt;&gt; logger.info('info')
</pre>
<h3>doctest - Testing Through Document</h3>
<pre class="code python">
&gt;&gt;&gt; import doctest
&gt;&gt;&gt; def add(a,b):
...   """
...   &gt;&gt;&gt; add(2,3)
...   5
...   &gt;&gt;&gt; add("Hello", "World")
...   'HelloWorld'
...   """
...   return a+b
... 
&gt;&gt;&gt; doctest.testmod()
TestResults(failed=0, attempted=2)
</pre>
<h3>doctest - Running Test Via Command Line</h3>
<pre class="code python">
def add(a,b):
   """
   &gt;&gt;&gt; add(2,3)
   5
   """
   return a+b

"""
&gt;&gt;&gt; add("Hello","World")
'HelloWorld'
"""

class cal(object):
   """
   &gt;&gt;&gt; c = cal()
   &gt;&gt;&gt; c.add(2,3)
   5
   &gt;&gt;&gt; c.sub(3,2)
   1
   """
   def add(self,a,b):
      return a+b
   def sub(self,a,b):
      return a-b
# bash&gt; python -m doctest test1.py -v
Trying:
    add(2,3)
Expecting:
    5
ok
Trying:
    c = cal()
Expecting nothing
ok
Trying:
    c.add(2,3)
Expecting:
    5
ok
Trying:
    c.sub(3,2)
Expecting:
    1
ok
3 items had no tests:
    test1
    test1.cal.add
    test1.cal.sub
2 items passed all tests:
   1 tests in test1.add
   3 tests in test1.cal
4 tests in 5 items.
4 passed and 0 failed.
Test passed.
</pre>
<h3>pdb - Set Breakpoint and Enter Debug Mode</h3>
<pre class="code python">
# example.py
import pdb

def add(a,b):
   print a+b
   return a+b

for _i in range(5):
   pdb.set_trace()
   print add(_i,1)
# bash&gt; python example.py
&gt; /Users/apple/test1.py(9)<module>()
-&gt; print add(_i,1)
(Pdb) list
  4  	   print a+b
  5  	   return a+b
  6  	
  7  	for _i in range(5):
  8  	   pdb.set_trace()
  9  -&gt;	   print add(_i,1)
[EOF]
(Pdb) c
1
1
&gt; /Users/apple/test1.py(8)<module>()
-&gt; pdb.set_trace()
(Pdb) c
2
2
&gt; /Users/apple/test1.py(9)<module>()
-&gt; print add(_i,1)
(Pdb) c
3
3
&gt; /Users/apple/test1.py(8)<module>()
-&gt; pdb.set_trace()
(Pdb) c
4
4
&gt; /Users/apple/test1.py(9)<module>()
-&gt; print add(_i,1)
(Pdb) c
5
5
</pre>
            </div>

            <div class="col-sm-4">
<h3>Test Cases in "unittest"</h3>
<pre class="code python">
# basic
assertEqual(a,b)          # a==b
assertNotEqual(a,b)       # a!=b
assertTrue(x)             # bool(x) is True
assertFalse(x)            # bool(x) is False
assertIs(a,b)             # a is b
assertIsNot(a,b)          # a is not b
assertIsNone(x)           # x is None
assertIsNotNone(x)        # x is not None
assertIn(a,b)             # a in b
assertNotIn(a,b)          # a not in b
assertIsInstance(a,b)     # isinstance(a,b)
assertNotIsInstance(a,b)  # not isinstance(a,b)

# raise
assertRaises(exc, fun, *args, **kwds)
assertRaisesRegexp(exc, r, fun, *args, **kwds)

# perform specific check
assertAlmostEqual(a,b)        # round(a-b, 7) == 0
assertNotAlmostEqual(a,b)     # round(a-b, 7) != 0
assertGreater(a,b)            # a &gt; b
assertGreaterEqual(a,b)       # a &gt;= b
assertLess(a,b)               # a &lt; b
assertLessEqual(a,b)          # a &lt;= b
assertRegexpMatches(s,r)      # r.search(s) 
assertNotRegexpMatches(s,r)   # not r.search(s)
assertItemsEqual(a,b)         # sorted(a) == sorted(b)
assertDictContainsSubset(a,b) # all the key/value pairs in a exist in b

# others
assertMultiLineEqual(a, b)
assertSequenceEqual(a, b)
assertListEqual(a, b)
assertTupleEqual(a, b)
assertSetEqual(a, b)
assertDictEqual(a, b)
</pre>

<h3>Basic Unit Test - Success Case</h3>
<pre class="code python">
# unittest test must startwith "test"
# see: python document unittest
&gt;&gt;&gt; import unittest
&gt;&gt;&gt; def add(a,b):
...   return a+b
... 
&gt;&gt;&gt; class Test(unittest.TestCase):
...   def test_add(self):
...     self.assertEqual(5,add(2,3))
...     print "Test add"
...
&gt;&gt;&gt; unittest.main()
Test add
.
----------------------------------------------------------------------
Ran 1 test in 0.000s

OK
</pre>
<h3>Basic Unit Test - Failed Case</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest
&gt;&gt;&gt; def add(a,b):
...   return a+b
... 
&gt;&gt;&gt; class Test(unittest.TestCase):
...   def setUp(self):
...     self.adder = add
...   def test_add(self):
...     self.assertEqual(5,self.adder(2,3))
...     self.assertEqual(2,self.adder(1,2))
... 
&gt;&gt;&gt; unittest.main()
F
======================================================================
FAIL: test_add (__main__.Test)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 6, in test_add
AssertionError: 2 != 3

----------------------------------------------------------------------
Ran 1 test in 0.000s

FAILED (failures=1)
</pre>
<h3>Test Raise Excpetion</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest
&gt;&gt;&gt; def isint(a):
...   if isinstance(a,int):
...     return None
...   else:
...     raise TypeError
... 
&gt;&gt;&gt; class Test(unittest.TestCase):
...   def test_isint(self):
...     self.assertRaises(TypeError, isint, "a")
... 
&gt;&gt;&gt; unittest.main()
.
----------------------------------------------------------------------
Ran 1 test in 0.000s

OK

# Another Natural way
&gt;&gt;&gt; def isint(a):
...   if isinstance(a,int):
...     return None
...   else:
...     raise TypeError
... 
&gt;&gt;&gt; class Test(unittest.TestCase):
...   def test_exception(self):
...     with self.assertRaises(TypeError):
...       isint("a")
... 
&gt;&gt;&gt; unittest.main()
.
----------------------------------------------------------------------
Ran 1 test in 0.000s

OK
</pre>
<h3>Setup and Teardown for Every Test</h3>
<pre class="code python">
&gt;&gt;&gt; def add(a,b):
...   return a+b
... 
&gt;&gt;&gt; class Test(unittest.TestCase):
...   def setUp(self):
...     self.adder = add
...     print "--- setUp ---"
...   def test_add1(self):
...     self.assertEqual(5,self.adder(2,3))
...   def test_add2(self):
...     self.assertEqual(3,self.adder(1,2))
...   def tearDown(self):
...     self.adder = None
...     print "--- tearDown ---"
... 
&gt;&gt;&gt; unittest.main()
--- setUp ---
--- tearDown ---
.--- setUp ---
--- tearDown ---
.
----------------------------------------------------------------------
Ran 2 tests in 0.000s

OK
</pre>

            </div>
            <div class="col-sm-4">
<h3>Calculate Time Cost of a Function</h3>
<pre class="code python">
&gt;&gt;&gt; def cal_time(func):
...   def wrapper(*args, **kwargs):
...     start = time.time()
...     func(*args, **kwargs)
...     end   = time.time()
...     print "cost time:", end - start 
...   return wrapper
... 
&gt;&gt;&gt; @cal_time
... def sleep_5_sec():
...   time.sleep(5)
... 
&gt;&gt;&gt; sleep_5_sec()
cost time: 5.00077295303
&gt;&gt;&gt; @cal_time
... def runloop():
...   for _ in range(100000):
...     pass
... 
&gt;&gt;&gt; runloop()
cost time: 0.00877285003662
</pre>

<h3>Profiling - How Efficiency of a Function</h3>
<pre class="code python">
&gt;&gt;&gt; import cProfile
&gt;&gt;&gt; import pstats
&gt;&gt;&gt; def profiling(func):
...   def wrapper(*args, **kwargs):
...     profile = cProfile.Profile()
...     profile.enable()
...     func(*args, **kwargs)
...     profile.disable()
...     pstat = pstats.Stats(profile)
...     pstat.print_stats()
...   return wrapper
... 
&gt;&gt;&gt; @profiling 
... def loop_sleep():
...   for _ in range(100):
...     time.sleep(0.01)
... 
&gt;&gt;&gt; loop_sleep()
         103 function calls in 1.085 seconds

   Random listing order was used

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
      100    1.083    0.011    1.083    0.011 {time.sleep}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}
        1    0.000    0.000    0.000    0.000 {range}
        1    0.002    0.002    1.085    1.085 &lt;stdin&gt;:1(loop_sleep)
</pre>
<h3>Profiling Per Line Via Line Profiler API</h3>
<pre class="code python">
# need install line_profiler first
# see: https://github.com/rkern/line_profiler
# pip install line_profiler
# example.py
from line_profiler import LineProfiler
import time

def profiling(func):
   def wrapper(*args, **kwargs):
      profiler = LineProfiler(func)
      profiler.enable_by_count()
      ret = func(*args, **kwargs)
      profiler.print_stats()
      return ret
   return wrapper

@profiling
def sleep_loop():
   for _ in range(100):
      time.sleep(0.01)
sleep_loop()

# bash&gt; python example.py
Timer unit: 1e-06 s

Total time: 1.09067 s
File: test1.py
Function: sleep_loop at line 13

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
    13                                           @profiling
    14                                           def sleep_loop():
    15       101         1380     13.7      0.1     for _ in range(100):
    16       100      1089288  10892.9     99.9        time.sleep(0.01)
</pre>
<h3>Profiling Per Line Via "kernprof" Command Line Tool</h3>
<pre class="code python">
# example.py
@profile
def sleep_loop():
   for _ in range(100):
      time.sleep(0.01)
sleep_loop()

# bash&gt; kernprof -l -v example.py
Wrote profile results to test1.py.lprof
Timer unit: 1e-06 s

Total time: 1.12235 s
File: test1.py
Function: sleep_loop at line 13

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
    13                                           @profile
    14                                           def sleep_loop():
    15       101         1014     10.0      0.1     for _ in range(100):
    16       100      1121334  11213.3     99.9        time.sleep(0.01)
</pre>

<h3>Profiling - How many memory are used</h3>
<pre class="code python">
# need install memory_profiler first
# see: https://pypi.python.org/pypi/memory_profiler
# pip install memory_profiler
# example.py
@profile
def example():
   a = [_ for _ in range(100000)]
   for _i in range(1000):
      _ = _i+1
   print _
   del a 

example()
# bash&gt; python -m memory_profiler example.py -v
1000
Filename: test1.py

Line #    Mem usage    Increment   Line Contents
================================================
     1    8.965 MiB    0.000 MiB   @profile
     2                             def example():
     3   13.051 MiB    4.086 MiB      a = [_ for _ in range(100000)]
     4   13.066 MiB    0.016 MiB      for _i in range(1000):
     5   13.066 MiB    0.000 MiB         _ = _i+1
     6   13.066 MiB    0.000 MiB      print _
     7   12.469 MiB   -0.598 MiB      del a
</pre>


            </div>
         </div>
         <footer><p>Copyright &#169; 2015 crazyguitar</p></footer>
      </div>
   </body>

</html>
