{% extends "layout.html"%}
{% block body %}

<div class="col-md-8 col-md-offset-2 col-xs-12">
   <div class="panel panel-default">
<!-- panel contents -->
<div class="panel-heading"><b>Catalog</b></div>

<!-- Table -->
<table class="table">
   <thead>
      <tr><th>Subject</th><th>Description</th><th>Create time</th><th>Modify time</th></tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet', page='python-cs') }}">Python Basic</a>
         </td>
         <td>Some basic concepts of Python</td>
         <td>2015/10/21</td>
         <td>2015/10/21</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet', page='python-network-cs') }}">Python Socket</a>
         </td>
         <td>Some basic concepts of socket in Python</td>
         <td>2015/10/21</td>
         <td>2015/10/21</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet', page='python-daemon-cs') }}">Python Daemon</a>
         </td>
         <td>A basic daemon write in Python</td>
         <td>2015/11/2</td>
         <td>2015/11/2</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet', page='python-sqlalchemy') }}">Python Sqlalchemy</a>
         </td>
         <td>Python database operation via sqlalchemy</td>
         <td>2015/11/2</td>
         <td>2015/11/2</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet', page='python-pattern-in-c') }}">Python Style in C</a>
         </td>
         <td>Some Python design pattern in C</td>
         <td>2015/11/2</td>
         <td>2015/11/2</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet', page='cpp-basic-cs') }}">C++ Basic</a>
         </td>
         <td>Some basic concepts of C++</td>
         <td>2015/11/1</td>
         <td>2015/11/1</td>
      </tr>
   </tbody>
</table>
   </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
