<!DOCTYPE HTML>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/github.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block head %}{% endblock %}
</head>
<body>
   <div class="container">
{% block jumbotron%}{% endblock %}
      <div class="row">
{% block body %}{% endblock %} 
      </div>
   </div>

<!-- script -->   
<script src="{{ url_for('static', filename='jquery-1.11.3/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>

{% block script %}
   <script src="{{ url_for('static', filename='highlight/highlight.pack.js') }}"></script>
   <script>
   $(document).ready(function(){
      $('pre.code').each(function(i, block) {hljs.highlightBlock(block);})
   ;});
   </script>
{% endblock %}

</body>
</html>
