<!DOCTYPE HTML>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/github.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <title>Programming Cheat Sheets</title>
{% block head %}{% endblock %}
</head>
<body>
<!-- static navbar -->
<nav class="navbar navbar-default navbar-static-top">
<div class="container">
  <a href="https://github.com/crazyguitar/cheatsheet">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
  </a>

  <div class="navbar-header">
    <a class="navbar-brand" href="/">Cheat Sheets</a>
   </div>
</div>
</nav>

   <div class="container">
{% block jumbotron %}{% endblock %}
{% block body %}{% endblock %} 
   </div>
   <div class="container">
      <footer><p>Copyright &#169; 2015 crazyguitar</p></footer>
   </div>

<!-- script -->   
<script src="{{ url_for('static', filename='jquery-1.11.3/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>

{% block script %}
   <script src="{{ url_for('static', filename='highlight/highlight.pack.js') }}"></script>
   <script>
   $(document).ready(function(){
      $('pre.code').each(function(i, block) {hljs.highlightBlock(block);})
   ;});
   </script>
{% endblock %}

</body>
</html>
