@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

h2.cs-section {
   text-align: center;
}
pre.code {
  font: normal 12pt Ubuntu Mono;
  overflow-y: auto;
  overflow-wrap: normal;
  word-wrap:normal;
  white-space:pre;
}
footer {
   text-align: center;
   font-weight:bold;
   color: darkgray;
}
.jumbotron {
   background-color: white;
}
.row {
   margin:auto;
}
.navbar-default {
   background-color: white;
}
.navbar {
   border: 0px;
}
.boardless{
   border:none !important;
}
.boardless td, .boardless th {
   border: none !important;
}
pre.code {
   border: none;
}
a {
   text-decoration:none !important;
}
