{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>C++ Cheat Sheet</h1>
   <p>Cheat sheet of C++. Some basic concept for a C++ programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Basic Usage of Reference and Pointer</h3>
<pre class="code c++">
#include &lt;iostream&gt;
using namespace std;

int main(int argc, char* argv[])
{
   int a = 5566;
   int *p_a_addr = &a;
   int &r_a_addr = a;

   /* value of a*/
   cout &lt;&lt; a &lt;&lt; endl;
   /* address of a */
   cout &lt;&lt; &a &lt;&lt;endl;
   /* address of a */
   cout &lt;&lt; p_a_addr &lt;&lt; endl;
   /* address of pointer */
   cout &lt;&lt; &p_a_addr &lt;&lt;endl;
   /* value of a */
   cout &lt;&lt; r_a_addr &lt;&lt; endl;
   /* address of a */
   cout &lt;&lt; &r_a_addr &lt;&lt; endl;
   return 0;
}

/* 
output:

5566
0x7fff586ef6ec
0x7fff586ef6ec
0x7fff586ef6e0
5566
0x7fff586ef6ec
*/
</pre>


<h3>Lambda Function</h3>
<pre class="code c++">
/* Lambda since C++11 */
#include &lt;iostream&gt;
using namespace std;

int main(int argc, char *argv[])
{
   int a = 8;
   int sa = 0;

   /* lambda square(since c++11) */
   sa = [](int x) {return x*x;}(a);
   cout &lt;&lt; "a = " &lt;&lt; a &lt;&lt; endl;
   cout &lt;&lt; "square a = "
        &lt;&lt; sa &lt;&lt; endl;
   
   return 0;
}
/*
bash&gt; g++ ex.cpp --std=c++11
output:

a = 8
square a = 64
*/
</pre>

<h3>Template in C++</h3>
<pre class="code c++">
#include &lt;iostream&gt;
using namespace std;

template &lt;class T&gt; struct Cls {
   T var;
   Cls(T in):var(in) {
      var = in; 
   };
   void spam() {
      cout &lt;&lt; var &lt;&lt; endl;
   };
};

int main(int argc, char *argv[])
{
   Cls&lt;int&gt; obj1(5566);
   Cls&lt;double&gt; obj2(95.27);
   
   obj1.spam();
   obj2.spam();

   return 0;
}
/* 
output:

5566
95.27
*/
</pre>

<h3>Class "operator" Overloading</h3>
<pre class="code c++">
#include &lt;iostream&gt;
using namespace std;

class cls {
public:
   /* obj++ operation */
   cls operator++(int) {
      cls tmp(idx);
      idx++;
      return tmp; 
   };
   /* ++obj operation */
   cls& operator++() {
      ++idx;
      return *this;
   };
   void spam() {
      cout &lt;&lt; "idx val = "
           &lt;&lt; idx &lt;&lt; endl;
   };
   cls(int x) :idx(x) {};
private:
   int idx;
};

int main(int argc, char *argv[])
{
   cls obj(5566);

   obj.spam();
   ++obj;
   obj.spam();
   obj++;
   obj.spam();
   return 0;
}
/*
output:

idx val = 5566
idx val = 5567
idx val = 5568
*/
</pre>

</div> <!-- ./row1 -->

<div class="row col-md-4 col-xs-12">

<h3>Different between Pointer and Reference</h3>
<pre class="code c++">
#include &lt;iostream&gt;
using namespace std;

int main(int argc, char *argv[])
{
   int a = 5566;
   int b = 9527;
   int *ptr1, *ptr2;
   int &ref1 = a; 
   int &ref2 = b;

   ptr1 = &a;
   ptr2 = &b;
   cout &lt;&lt; "b value will not change" 
        &lt;&lt; endl;
   cout &lt;&lt; "val b = "
        &lt;&lt; b  &lt;&lt; endl;
   ptr2 = &a;
   cout  &lt;&lt; "val b = "
         &lt;&lt; b  &lt;&lt; endl;

   cout  &lt;&lt; "b value will change"
         &lt;&lt; endl;
   cout  &lt;&lt; "val b = "
         &lt;&lt; b  &lt;&lt; endl;
   ref2 = a;
   cout  &lt;&lt; "val b = "
         &lt;&lt; b  &lt;&lt; endl;
   
   return 0;
}

/* 
output:

b value will not change
val b = 9527
val b = 9527
b value will change
val b = 9527
val b = 5566
*/
</pre>

<h3>C++ struct</h3>
<pre class="code c++">
/* C++ struct is same as class
 * which all members are public.
 */
#include &lt;iostream&gt;
using namespace std;

struct cppstruct {
   int a;
   double b;
   void spam(){
     cout &lt;&lt; a &lt;&lt; endl; 
     cout &lt;&lt; b &lt;&lt; endl;
   };
};

class cls {
public:
   int a;
   int b;
   void spam(){
      cout &lt;&lt; a &lt;&lt; endl;
      cout &lt;&lt; b &lt;&lt; endl;
   };
};

int main(int argc, char *argv[])
{
   cppstruct obj1;
   cls obj2;

   cout &lt;&lt; "cpp strcut" 
        &lt;&lt; endl;
   obj1.a = 5566;
   obj1.b = 9527;
   obj1.spam();

   cout &lt;&lt; "all member public class"
        &lt;&lt; endl;
   obj2.a = 1234;
   obj2.b = 5677;
   obj2.spam();
   
   return 0;
}

/*
output:

cpp strcut
5566
9527
all member public class
1234
5677
*/
</pre>

</div><!-- ./row2 -->

<div class="row col-md-4 col-xs-12">

<h3>Call by "Reference"</h3>
<pre class="code c++">
#include &lt;iostream&gt;
using namespace std;

void spam_ptr(int *ptr)
{
   cout &lt;&lt; "addr = " 
        &lt;&lt; ptr &lt;&lt; endl; 
   cout &lt;&lt; "val = "
        &lt;&lt; *ptr &lt;&lt; endl;
}

void spam_ref(int &ref)
{
   cout &lt;&lt; "addr = "
        &lt;&lt; &ref &lt;&lt; endl;
   cout &lt;&lt; "val = "
        &lt;&lt; ref &lt;&lt;endl;
}

int main(int argc, char *argv[])
{
   int var = 5566;
   spam_ptr(&var);
   spam_ref(var);
   
   return 0;
}
/*
output:

addr = 0x7fff53c6c74c
val = 5566
addr = 0x7fff53c6c74c
val = 5566
*/
</pre>

<h3>Object Constructor</h3>
<pre class="code c++">
#include <iostream>
using namespace std;

class cls1 {
public:
   int x;
   int y;
   /* Basic Constructor */
   cls1(int a, int b) {
      cout &lt;&lt; "Construct cls1" 
           &lt;&lt; endl;
      x=a;
      y=b;
   };
   ~cls1() {
      cout &lt;&lt; "Destruct cls1" 
           &lt;&lt; endl;
   };
};

class cls2 {
public:
   int x;
   int y;
   /* Initialization Lists */
   cls2(int a, int b):x(a), y(b) {
      cout &lt;&lt; "Construct cls2"
           &lt;&lt; endl;
   }
   ~cls2() {
      cout &lt;&lt; "Destruct cls2" 
           &lt;&lt; endl;
   };
};

int main(int argc, char *argv[])
{
   cls1 obj1(5566, 9527);
   cls2 obj2(123,456);
   cout &lt;&lt; obj1.x &lt;&lt; ", "
        &lt;&lt; obj1.y &lt;&lt; endl;
   cout &lt;&lt; obj2.x &lt;&lt; ", "
        &lt;&lt; obj2.y &lt;&lt; endl;
   return 0;
}
/* 
output:

Construct cls1
Construct cls2
5566, 9527
123, 456
Destruct cls2
Destruct cls1
*/
</pre>

</div><!-- ./row3 -->

{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
