<!DOCTYPE html>
<html>
   <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="highlight/styles/github.css">
      <link rel="stylesheet" href="css/style.css">
      <script src="highlight/highlight.pack.js"></script>
      <script>
         $(document).ready(function(){
            $('pre.code').each(function(i, block) {
               hljs.highlightBlock(block);
            }); 
         });
      </script> 
   </head>
   <body>
      <div class="container" style="width:80%">
      <div class="jumbotron" style="background:white;">
      <h1>Git Cheat Sheet</h1>      
      <p>Cheat sheet of BASIC Git command</p>
      </div>
      <div class="row">
         <div class="col-sm-4">
<h3>Basic Command of Git</h3>
<pre class="code bash">
# init a git repo
$ git init

# clone a git repo
$ git clone [url]

# clone a git repo to spec folder
$ git clone [url] [folder]

# add file into stage
$ git add [file]
$ git add *.c  # add *.c files
$ git add .    # add add all files 

# cancel stage file
$ git reset HEAD [file]

# track current state
$ git status

# commit stage files
$ git commit 
$ git commit -m "commit msg"

# add all files and commit
# equal to:
# $ git add .
# $ git commit -m "commit msg"
$ git commit -am "commit msg"

# modify previous commit
$ git commit --amend

# diff between stage and modify file
$ git diff

# diff betweent stage and pre commit
$ git diff --staged
# or 
$ git diff --cached
</pre>

<h3>Viewing the Commit History</h3>

<pre class="code bash">
# show commit log
$ git log

# show diff between each commit
$ git log -p

# show a list of modified file
$ git log --stat

# no merge log
$ git log --no-merges

# show branch and merge history
$ git log --graph --all
</pre>
<h3>Remove or Move File</h3>
<pre class="code bash">
# unstage a file and remove
# equal to 
# $ rm [file]
# $ git rm [file]
$ git rm -f [file]

# un stage a file
$ git --cached [file]
# or 
$ git reset [file]

# move stage file
$ git mv [src-file] [dest-file]
</pre>
         </div>
         <div class="col-sm-4">
<h3>Git Basic Branching</h3>
<pre class="code bash">
# show current local branch
$ git branch 

# show remote branch
$ git branch -r

# show remote & local branch
$ git branch -a

# create a branch
$ git branch [branch name]

# create and checkout a new branch
$ git checkout -b [branch name]

# delete local branch
$ git branch -d [branch name]

# delete remote branch 
$ git branch -r -d [branch name]

# checkout branch
$ git checkout [branch name]
</pre>
<h3>Remote Branches</h3>
<pre class="code bash">
# add remote git server
$ git remote add [remote name]/[url]

# delete remote git server
$ git remote remove [remote name]

# push current commit 
$ git push [branch] [remote name]

# fetch remote repo and merge 
$ git pull

# fetch remote repo, rebase and merge
$ git pull --rebase
#or
$ git pull -r

# fetch remote repo(ex: origin)
$ git fetch origin

# create a local branch to track remote branch 
$ git checkout --track origin/[branch]

# set exist local branch to track remote branch (--set-upstream-to or -u)
$ git branch -u [lbranch] [rbranch]

</pre>
<h3>Add Alias</h3>
<pre class="code bash">
# edit ~/.gitconfig
[alias]
   co = checkout
   br = branch
   cl = clone 
   ci = commit
   la = log --graph --all
</pre>
<h3>Edit ./gitignore</h3>
<pre class="code bash">
*.o
*.py
[folder]/*.a
[folder]/*
</pre>
         </div>
         <div class="col-sm-4">
<h3>Local Merge Strategy</h3>
<pre class="code bash">
# step1: rebase branch
$ git rebase master 

# step2: checkout to master branch
$ git checkout master

# step3: merge
$ git merge [branch]

# step4: solve conflicts

# step5: add fix files
git add [fix files]

# step6: commit
git commit
</pre>
<h3>Remote Merge Strategy</h3>

<pre class="code bash">
# case1: merge track branch
$ git pull --rebase

# case2: merge untrack branch

# step1: git fetch
$ git fetch origin 

# step2: track remote branch
$ git --track origin/[branch] 

# step3: rebase
$ git rebase origin/[branch]

# step4: checkout
$ git checkout master

# step5: merge
$ git merge origin/[branch]

# step6: fix conflicts

# step7: add and commit
$ git add [files]
$ git commit 
</pre>
<h3>Undo</h3>
<pre class="code bash">
# modify previous commit
$ git commit --amend

# unstage all file
$ git reset

# unstage a file
$ git reset HEAD [file]

# cancel commit but keep all modified.
git reset HEAD^ --soft

# below are DANGEROUS commands

# unmodify a unstage file
$ git checkout -- [file]

# clean all modify and back to previous commit
$ git reset --hard
</pre>
         </div>
      </div>
      </div>
   </body>
</html>
