{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>GNU Autotool Cheat Sheet</h1>
   <p>Cheat sheet of GNU Autotool. Some basic concept for a programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Project structure</h3>
<pre class="code bash">
# before "bash &gt; autoreconf --install"
hello_world/
   |- Makefile.am
   |- configure.ac
   |- m4
   |- include/
   |  |- Makefile.am
   |  |- hello.h 
   |  `- world.h
   |- src/
   |  |- Makefile.am
   |  `- main.c
   `- lib/
      |- Makefile.am
      |- hello
      |  |- Makefile.am
      |  `- hello.c
      `- world
         |- Makefile.am
         `- world.c
</pre>
<h3>configure.ac</h3>
<pre class="code makefile">
# AC_INIT([PACKAGE-NAME], 
#         [VER], 
#         [BUG_REPORT_ADDR])
AC_INIT([amhello], [1.0])
AC_CONFIG_MACRO_DIR([m4])
LT_INIT
AC_PROG_CC
AC_CONFIG_HEADERS([config.h])
AC_CONFIG_FILES([
   Makefile
   include/Makefile
   lib/Makefile
   lib/hello/Makefile
   lib/world/Makefile
   src/Makefile
])
# Tell autoconf to produce "configure" script
AC_OUTPUT
</pre>
<h3>Makefile.am</h3>
<pre class="code makefile">
# Tell automake which directories need to be "make"
SUBDIRS = include lib src
ACLOCAL_AMFLAGS = -I m4
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>lib/Makefile.am</h3>
<pre class="code makefile">
# recursively "auto make"
SUBDIRS = hello world
</pre>
<h3>lib/hello/Makefile.am</h3>
<pre class="code makefile">
# build "libtool archive"
lib_LTLIBRARIES = libhello.la

# Assign source for libhello.la
libhello_la_SOURCES = hello.c ../../include/hello.h

# Setup libhello CFLAGS
libhello_la_CFLAGS = $(AM_CFLAGS) -I../../include
</pre>

<h3>lib/hello/hello.c</h3>
<pre class="code c">
#include &lt;hello.h&gt;

void hello(void)
{
   printf("===== Hello =====\n");
}
</pre>
<h3>lib/world/Makefile.am</h3>
<pre class="code makefile">
# build "libtool archive"
lib_LTLIBRARIES = libworld.la

# Assign source for libworld.la
libworld_la_SOURCES = world.c ../../include/world.h

# Setup libworld CFLAGS
libworld_la_CFLAGS = $(AM_CFLAGS) -I../../include
</pre>

<h3>lib/world/world.c</h3>
<pre class="code c">
#include &lt;world.h&gt;

void world(void)
{
   printf("===== World =====\n");
}
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>src/Makefile.am</h3>
<pre class="code c">
# build binary hello which will be install in bin/
bin_PROGRAMS = hello

# Specify source of binary "hello"
hello_SOURCES = main.c

# CFLAGS for binary
AM_CFLAGS = -I$(srcdir)/../include -g -Wall

# LDFLAGS for binary
hello_LDADD = ../lib/hello/libhello.la ../lib/world/libworld.la
</pre>

<h3>src/main.c</h3>
<pre class="code c">
#include &lt;hello.h&gt;

int main(int argc, char *argv[])
{
   hello();
   world();
   printf("Hello World\n");
   return 0;
}
</pre>
<h3>include/Makefile.am</h3>
<pre class="code makefile">
# Specify install header into include/
include_HEADERS = hello.h world.h
</pre>
<h3>include/hello.h</h3>
<pre class="code c">
#include &lt;stdio.h&gt;
extern void hello(void);
</pre>
<h3>include/world.h</h3>
<pre class="code c">
#include &lt;stdio.h&gt;
extern void world(void);
</pre>
<h3>Generate "configure" script</h3>
<pre class="code bash">
bash&gt; autoreconf --install
bash&gt; ./configure 
bash&gt; make && make install
</pre>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
