{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some test concepts for a Python programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-8 col-md-offset-2 col-xs-12">

<h3>Write a simple Python unittest basic</h3>
<pre class="code python">
# python unittet only run the function with prefix "test"
&gt;&gt;&gt; import unittest
&gt;&gt;&gt; class TestFoo(unittest.TestCase):
...     def test_foo(self):
...             self.assertTrue(True)
...     def fun_not_run(self):
...             print "no run"
... 
&gt;&gt;&gt; unittest.main()
.
----------------------------------------------------------------------
Ran 1 test in 0.000s

OK
&gt;&gt;&gt; import unittest
&gt;&gt;&gt; class TestFail(unittest.TestCase):
...     def test_false(self):
...             self.assertTrue(False)
... 
&gt;&gt;&gt; unittest.main()
F
======================================================================
FAIL: test_false (__main__.TestFail)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 3, in test_false
AssertionError: False is not true

----------------------------------------------------------------------
Ran 1 test in 0.000s

FAILED (failures=1)
</pre>

<h3>Python unittest setup & teardown hierarchy</h3>
<pre class="code python">
import unittest

def fib(n):
    return 1 if n&lt;=2 else fib(n-1)+fib(n-2)

def setUpModule():
        print "setup module" 
def tearDownModule():
        print "teardown module"

class TestFib(unittest.TestCase):

    def setUp(self):
        print "setUp"
        self.n = 10
    def tearDown(self):
        print "tearDown"
        del self.n
    @classmethod
    def setUpClass(cls):
        print "setUpClass"
    @classmethod
    def tearDownClass(cls):
        print "tearDownClass"
    def test_fib_assert_equal(self):
        self.assertEqual(fib(self.n), 55)
    def test_fib_assert_true(self):
        self.assertTrue(fib(self.n) == 55)

if __name__ == "__main__":
    unittest.main()

# output:
bash&gt; python test.py
setup module
setUpClass
setUp
tearDown
.setUp
tearDown
.tearDownClass
teardown module

----------------------------------------------------------------------
Ran 2 tests in 0.000s

OK
</pre>

<h3>setUp & tearDown hierarchy from different unittest module</h3>
<pre class="code python">
# test_module.py
import unittest

class TestFoo(unittest.TestCase):
    @classmethod
    def setUpClass(self):
        print "foo setUpClass"
    @classmethod
    def tearDownClass(self):
        print "foo tearDownClass"
    def setUp(self):
        print "foo setUp"
    def tearDown(self):
        print "foo tearDown"
    def test_foo(self):
        self.assertTrue(True)

class TestBar(unittest.TestCase):
    def setUp(self):
        print "bar setUp"
    def tearDown(self):
        print "bar tearDown"
    def test_bar(self):
        self.assertTrue(True)

# test.py
from test_module import TestFoo
from test_module import TestBar
import test_module
import unittest

def setUpModule():
    print "setUpModule"

def tearDownModule():
    print "tearDownModule"


if __name__ == "__main__":
    test_module.setUpModule = setUpModule
    test_module.tearDownModule = tearDownModule
    suite1 = unittest.TestLoader().loadTestsFromTestCase(TestFoo)
    suite2 = unittest.TestLoader().loadTestsFromTestCase(TestBar)
    suite = unittest.TestSuite([suite1,suite2])
    unittest.TextTestRunner().run(suite)

# output:
setUpModule
foo setUpClass
foo setUp
foo tearDown
.foo tearDownClass
bar setUp
bar tearDown
.tearDownModule

----------------------------------------------------------------------
Ran 2 tests in 0.000s

OK
</pre>

<h3>Run the tests via <code>unittest.TextTestRunner</code></h3>
<pre class="code python">
&gt;&gt;&gt; import unittest  
&gt;&gt;&gt; class TestFoo(unittest.TestCase):
...     def test_foo(self):
...         self.assertTrue(True)
...     def test_bar(self):
...         self.assertFalse(False)  

&gt;&gt;&gt; suite = unittest.TestLoader().loadTestsFromTestCase(TestFoo)  
&gt;&gt;&gt; unittest.TextTestRunner(verbosity=2).run(suite)  
test_bar (__main__.TestFoo) ... ok
test_foo (__main__.TestFoo) ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.000s

OK
</pre>

<h3>Test raise exception</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest  

&gt;&gt;&gt; class TestRaiseException(unittest.TestCase):
...     def test_raise_except(self):
...         with self.assertRaises(SystemError):
...             raise SystemError  
&gt;&gt;&gt; suite_loader = unittest.TestLoader()  
&gt;&gt;&gt; suite = suite_loader.loadTestsFromTestCase(TestRaiseException)  
&gt;&gt;&gt; unittest.TextTestRunner().run(suite)  
.
----------------------------------------------------------------------
Ran 1 test in 0.000s

OK
&gt;&gt;&gt; class TestRaiseFail(unittest.TestCase):
...     def test_raise_fail(self):
...         with self.assertRaises(SystemError):
...             pass  
&gt;&gt;&gt; suite = unittest.TestLoader().loadTestsFromTestCase(TestRaiseFail)  
&gt;&gt;&gt; unittest.TextTestRunner(verbosity=2).run(suite)  
test_raise_fail (__main__.TestRaiseFail) ... FAIL

======================================================================
FAIL: test_raise_fail (__main__.TestRaiseFail)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 4, in test_raise_fail
AssertionError: SystemError not raised

----------------------------------------------------------------------
Ran 1 test in 0.000s

FAILED (failures=1)
</pre>

<h3>Pass arguments into a TestCase</h3>
<pre class="code python">
# ref: <a herf="http://stackoverflow.com/questions/1842168/python-unit-test-pass-command-line-arguments-to-setup-of-unittest-testcase">stackoverflow</a>
&gt;&gt;&gt; import unittest  
&gt;&gt;&gt; class TestArg(unittest.TestCase):
...     def __init__(self, testname, arg):
...         super(TestArg, self).__init__(testname)
...         self._arg = arg
...     def setUp(self):
...         print "setUp:", self._arg
...     def test_arg(self):
...         print "test_arg:", self._arg
...         self.assertTrue(True)  
...
&gt;&gt;&gt; suite = unittest.TestSuite()  
&gt;&gt;&gt; suite.addTest(TestArg('test_arg', 'foo'))  
&gt;&gt;&gt; unittest.TextTestRunner(verbosity=2).run(suite)  
test_arg (__main__.TestArg) ... setUp: foo
test_arg: foo
ok

----------------------------------------------------------------------
Ran 1 test in 0.000s

OK
</pre>

<h3>Group multiple testcases into a suite</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest  
&gt;&gt;&gt; class TestFooBar(unittest.TestCase):
...     def test_foo(self):
...         self.assertTrue(True)
...     def test_bar(self):
...         self.assertTrue(True)  
...
&gt;&gt;&gt; class TestHelloWorld(unittest.TestCase):
...     def test_hello(self):
...         self.assertEqual("Hello", "Hello")
...     def test_world(self):
...         self.assertEqual("World", "World")  
...
&gt;&gt;&gt; suite_loader = unittest.TestLoader()  
&gt;&gt;&gt; suite1 = suite_loader.loadTestsFromTestCase(TestFooBar)  
&gt;&gt;&gt; suite2 = suite_loader.loadTestsFromTestCase(TestHelloWorld)  
&gt;&gt;&gt; suite = unittest.TestSuite([suite1, suite2])  
&gt;&gt;&gt; unittest.TextTestRunner(verbosity=2).run(suite)  
test_bar (__main__.TestFooBar) ... ok
test_foo (__main__.TestFooBar) ... ok
test_hello (__main__.TestHelloWorld) ... ok
test_world (__main__.TestHelloWorld) ... ok

----------------------------------------------------------------------
Ran 4 tests in 0.000s

OK
</pre>

<h3>Group multiple tests from different TestCase</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest  
&gt;&gt;&gt; class TestFoo(unittest.TestCase):
...     def test_foo(self):
...         assert "foo" == "foo"  
...
&gt;&gt;&gt; class TestBar(unittest.TestCase):
...     def test_bar(self):
...         assert "bar" == "bar"  
...
&gt;&gt;&gt; suite = unittest.TestSuite()  
&gt;&gt;&gt; suite.addTest(TestFoo('test_foo'))  
&gt;&gt;&gt; suite.addTest(TestBar('test_bar'))  
&gt;&gt;&gt; unittest.TextTestRunner(verbosity=2).run(suite)  
test_foo (__main__.TestFoo) ... ok
test_bar (__main__.TestBar) ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
</pre>


<h3>Skip some tests in the TestCase</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest  
&gt;&gt;&gt; RUN_FOO = False  
&gt;&gt;&gt; DONT_RUN_BAR = False  
&gt;&gt;&gt; class TestSkip(unittest.TestCase):
...     def test_always_run(self):
...         self.assertTrue(True)
...     @unittest.skip("always skip this test")
...     def test_always_skip(self):
...         raise RuntimeError
...     @unittest.skipIf(RUN_FOO == False, "demo skipIf")
...     def test_skipif(self):
...         raise RuntimeError
...     @unittest.skipUnless(DONT_RUN_BAR == True, "demo skipUnless")
...     def test_skipunless(self):
...         raise RuntimeError  
...
&gt;&gt;&gt; suite = unittest.TestLoader().loadTestsFromTestCase(TestSkip)  
&gt;&gt;&gt; unittest.TextTestRunner(verbosity=2).run(suite)  
test_always_run (__main__.TestSkip) ... ok
test_always_skip (__main__.TestSkip) ... skipped 'always skip this test'
test_skipif (__main__.TestSkip) ... skipped 'demo skipIf'
test_skipunless (__main__.TestSkip) ... skipped 'demo skipUnless'

----------------------------------------------------------------------
Ran 4 tests in 0.000s

OK (skipped=3)
</pre>

<h3>Make a cross-module variable into different Test files.</h3>
<pre class="code python">
# ref: <a href="http://stackoverflow.com/questions/142545/python-how-to-make-a-cross-module-variable">stackoverflow</a>
# test_foo.py
import unittest

print conf

class TestFoo(unittest.TestCase):
    def test_foo(self):
        print conf
        
    @unittest.skipIf(conf.isskip==True, "skip test")
    def test_skip(self):
        raise RuntimeError

# test_bar.py
import unittest
import __builtin__

if __name__ == "__main__":
    conf = type('TestConf', (object,), {})
    conf.isskip = True
    # make a cross-module variable
    __builtin__.conf = conf
    module = __import__('test_foo')
    loader = unittest.TestLoader()
    suite = loader.loadTestsFromTestCase(module.TestFoo)
    unittest.TextTestRunner(verbosity=2).run(suite)

# output:
bash&gt; python test_bar.py
&lt;class '__main__.TestConf'&gt;
test_foo (test_foo.TestFoo) ... &lt;class '__main__.TestConf'&gt;
ok
test_skip (test_foo.TestFoo) ... skipped 'skip test'

----------------------------------------------------------------------
Ran 2 tests in 0.000s

OK (skipped=1)

</pre>

<h3>Python unittest skip setup & teardown when the test is skipped</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest
&gt;&gt;&gt; class TestSkip(unittest.TestCase):
...     def setUp(self):
...         print "setUp"
...     def tearDown(self):
...         print "tearDown"
...     @unittest.skip("skip this test")
...     def test_skip(self):
...         raise RuntimeError
...     def test_not_skip(self):
...         self.assertTrue(True)  
...
&gt;&gt;&gt; suite = unittest.TestLoader().loadTestsFromTestCase(TestSkip)  
&gt;&gt;&gt; unittest.TextTestRunner(verbosity=2).run(suite)  
test_not_skip (__main__.TestSkip) ... setUp
tearDown
ok
test_skip (__main__.TestSkip) ... skipped 'skip this test'

----------------------------------------------------------------------
Ran 2 tests in 0.000s

OK (skipped=1)
</pre>

<h3>Re-using old test code</h3>
<pre class="code python">
&gt;&gt;&gt; import unittest
&gt;&gt;&gt; def old_func_test():
...     assert "Hello" == "Hello"                                                                                                                                                                                                      
... 
&gt;&gt;&gt; def old_func_setup():                                                                                                                                                                                                              
...     print "setup"
... 
&gt;&gt;&gt; def old_func_teardown():
...     print "teardown"                                                                                                                                                                                                               
... 
&gt;&gt;&gt; testcase = unittest.FunctionTestCase(old_func_test,
...                                      setUp=old_func_setup,
...                                      tearDown=old_func_teardown)
&gt;&gt;&gt; suite = unittest.TestSuite([testcase])
&gt;&gt;&gt; unittest.TextTestRunner().run(suite)
setup
teardown
.
----------------------------------------------------------------------
Ran 1 test in 0.000s

OK
&lt;unittest.runner.TextTestResult run=1 errors=0 failures=0&gt;
</pre>

<h3>doctest - testing your document is right</h3>
<pre class="code python">
"""
This is an example of doctest

&gt;&gt;&gt; fib(10)
55
"""

def fib(n):
    """
    This function calculate fib number.

    example:

    &gt;&gt;&gt; fib(10)
    55
    &gt;&gt;&gt; fib(-1)
    Traceback (most recent call last):
        ...
    ValueError
    """
    if n < 0:
        raise ValueError('')
    return 1 if n&lt;=2 else fib(n-1) + fib(n-2)

if __name__ == "__main__":
    import doctest
    doctest.testmod()

# output:
bash&gt; python demo_doctest.py -v
Trying:
    fib(10)
Expecting:
    55
ok
Trying:
    fib(10)
Expecting:
    55
ok
Trying:
    fib(-1)
Expecting:
    Traceback (most recent call last):
        ...
    ValueError
ok
2 items passed all tests:
   1 tests in __main__
   2 tests in __main__.fib
3 tests in 2 items.
3 passed and 0 failed.
Test passed.
</pre>

<h3>Re-using doctest to unittest</h3>
<pre class="code python">
import unittest
import doctest

"""
This is an example of doctest

&gt;&gt;&gt; fib(10)
55
"""

def fib(n):
    """
    This function calculate fib number.

    example:

    &gt;&gt;&gt; fib(10)
    55
    &gt;&gt;&gt; fib(-1)
    Traceback (most recent call last):
        ...
    ValueError
    """
    if n < 0:
        raise ValueError('')
    return 1 if n&lt;=2 else fib(n-1) + fib(n-2)

if __name__ == "__main__":
    suite = unittest.TestSuite()
    finder = doctest.DocTestFinder()
    unittest.TextTestRunner(verbosity=2).run(suite)
</pre>

<h3>Mocking Test - Replace real object to fake object</h3>
<pre class="code python">
# without mock - test will always failed
import unittest
import os

class TestFoo(unittest.TestCase):
    def test_foo(self):
        os.remove('!@#$%^~')

if __name__ == "__main__":
    unittest.main()

# output:
bash&gt; python mock_test.py 
E
======================================================================
ERROR: test_foo (__main__.TestFoo)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "mock_test.py", line 7, in test_foo
    os.remove('!@#$%^~')
OSError: [Errno 2] No such file or directory: '!@#$%^~'

----------------------------------------------------------------------
Ran 1 test in 0.000s

# with mock - substitute real object to fake object
import mock
import unittest
import os

def mock_os_remove(path):
    pass

class TestFoo(unittest.TestCase):
    @mock.patch('os.remove', mock_os_remove)
    def test_foo(self):
        os.remove('!@#$%^~')

if __name__ == "__main__":
    unittest.main()

#output:
bash&gt; python mock_test.py 
.
----------------------------------------------------------------------
Ran 1 test in 0.000s

OK
</pre>


</div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
