{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some nextwork concept for Python programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Get Hostname</h3>
<pre class="code python">
&gt;&gt;&gt; import socket
&gt;&gt;&gt; socket.gethostname()
'MacBookPro-4380.local'
&gt;&gt;&gt; hostname = socket.gethostname()
&gt;&gt;&gt; socket.gethostbyname(hostname)
'172.20.10.4'
&gt;&gt;&gt; socket.gethostbyname('localhost')
'127.0.0.1'
</pre>

<h3>Simple TCP Echo Server</h3>
<pre class="code python">
import socket

class Server(object):
   def __init__(self,host,port):
      self._host = host
      self._port = port
   def __enter__(self):
      sock = socket.socket(
         socket.AF_INET,
         socket.SOCK_STREAM)
      sock.setsockopt(
         socket.SOL_SOCKET,
         socket.SO_REUSEADDR,1)
      sock.bind((self._host,self._port))
      sock.listen(1)
      self._sock = sock
      return self._sock 
   def __exit__(self,*exc_info):
      if exc_info[0]:
         import traceback
         traceback.print_exception(
               *exc_info)
      self._sock.close()
      
if __name__ == '__main__':
   host = 'localhost'
   port = 5566
   with Server(host,5566) as s:
      while True:
         conn, addr = s.accept()
         msg = conn.recv(1024)
         conn.send(msg)
         conn.close()

# bash&gt; nc localhost 5566
# Hello World 
# Hello World 
</pre>

<h3>Simple TCP Echo Server Via SocketServer</h3>
<pre class="code python">
&gt;&gt;&gt; import SocketServer
&gt;&gt;&gt; bh = SocketServer.BaseRequestHandler
&gt;&gt;&gt; class handler(bh):
...   def handle(self):
...     data = self.request.recv(1024)
...     print self.client_address
...     self.request.sendall(data)
... 
&gt;&gt;&gt; host = ('localhost',5566)
&gt;&gt;&gt; s = SocketServer.TCPServer(
...   host, handler)
&gt;&gt;&gt; s.serve_forever()
# bash&gt; nc -u localhost 5566
# Hello World
# Hello World
</pre>

<h3>Simple UDP Echo Server</h3>
<pre class="code python">
import socket

class UDPServer(object):
   def __init__(self,host,port):
      self._host = host
      self._port = port

   def __enter__(self):
      sock = socket.socket(
         socket.AF_INET,
         socket.SOCK_DGRAM)
      sock.bind((self._host,self._port))
      self._sock = sock
      return sock
   def __exit__(self,*exc_info):
      if exc_info[0]:
         import traceback
         traceback.print_exception(
               *exc_info)
      self._sock.close()

if __name__ == '__main__':
   host = 'localhost'
   port = 5566
   with UDPServer(host,port) as s:
      while True:
         msg, addr = s.recvfrom(1024)
         s.sendto(msg, addr)

# bash&gt; nc -u localhost 5566
# Hello World
# Hello World
</pre>
<h3>Simple UDP Echo Server Via SocketServer</h3>
<pre class="code python">
&gt;&gt;&gt; import SocketServer
&gt;&gt;&gt; bh = SocketServer.BaseRequestHandler
&gt;&gt;&gt; class handler(bh):
...   def handle(self):
...     m,s = self.request
...     s.sendto(m,self.client_address)
...     print self.client_address
... 
&gt;&gt;&gt; host = ('localhost',5566)
&gt;&gt;&gt; s = SocketServer.UDPServer(
...   host, handler)
&gt;&gt;&gt; s.serve_forever()
# bash&gt; nc -u localhost 5566
# Hello World
# Hello World
</pre>

<h3>Simple UDP client - Sender</h3>
<pre class="code python">
&gt;&gt;&gt; import socket
&gt;&gt;&gt; import time
&gt;&gt;&gt; sock = socket.socket(
...   socket.AF_INET,
...   socket.SOCK_DGRAM)
&gt;&gt;&gt; host = ('localhost',5566)
&gt;&gt;&gt; while True:
...   sock.sendto("Hello\n",host)
...   time.sleep(5)
...
# bash&gt; nc -lu localhost 5566
# Hello
# Hello
</pre>

<h3>Broadcast UDP Packets</h3>
<pre class="code python">
&gt;&gt;&gt; import socket
&gt;&gt;&gt; import time
&gt;&gt;&gt; sock = socket.socket(
...   socket.AF_INET,
...   socket.SOCK_DGRAM)
&gt;&gt;&gt; sock.bind(('',0))
&gt;&gt;&gt; sock.setsockopt(
...   socket.SOL_SOCKET,
...   socket.SO_BROADCAST,1)
&gt;&gt;&gt; 
&gt;&gt;&gt; while True:
...   m = '{0}\n'.format(time.time())
...   sock.sendto(m,('&lt;broadcast&gt;',5566))
...   time.sleep(5)
...
# bash&gt; nc -k -w 1 -ul 5566
# 1431473025.72
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Simple Asynchronous TCP Server - Thread</h3>
<pre class="code python">
&gt;&gt;&gt; from threading import Thread
&gt;&gt;&gt; import socket
&gt;&gt;&gt; def work(conn):
...   while True:
...     msg = conn.recv(1024)
...     conn.send(msg)
...
&gt;&gt;&gt; sock = socket.socket(
...   socket.AF_INET,
...   socket.SOCK_STREAM)
&gt;&gt;&gt; sock.setsockopt(
...   socket.SOL_SOCKET,
...   socket.SO_REUSEADDR,1)
&gt;&gt;&gt; sock.bind(('localhost',5566))
&gt;&gt;&gt; sock.listen(5)
&gt;&gt;&gt; while True:
...   conn,addr = sock.accept()
...   t=Thread(target=work,args=(conn,))
...   t.daemon=True
...   t.start()
...
# bash1&gt; nc localhost 5566
# Hello
# Hello
# bash2&gt; nc localhost 5566
# Ker Ker
# Ker Ker
</pre>
<h3>Simple Asynchronous TCP Server - select</h3>
<pre class="code python">
from select import select
import socket

host = ('localhost',5566)
sock = socket.socket(
      socket.AF_INET,
      socket.SOCK_STREAM)
sock.setsockopt(
      socket.SOL_SOCKET,
      socket.SO_REUSEADDR,1)
sock.bind(host)
sock.listen(5)
rl = [sock]
wl = []
ml = {}
try:
   while True:
      r, w, _ = select(rl,wl,[])
      # process ready to ready
      for _ in r:
         if _ == sock:
            conn, addr = sock.accept()
            rl.append(conn)
         else:
            msg = _.recv(1024)
            ml[_.fileno()] = msg
            wl.append(_) 
      # process ready to write
      for _ in w:
         msg = ml[_.fileno()] 
         _.send(msg)
         wl.remove(_)
         del ml[_.fileno()]
except:
   sock.close()
# bash1&gt; nc localhost 5566
# Hello
# Hello
# bash2&gt; nc localhost 5566
# Ker Ker
# Ker Ker
</pre>
<h3>High-Level API - selectors</h3>
<pre class="code python">
# Pyton3.4+ only
# Reference: <a href="https://docs.python.org/3.5/library/selectors.html">selectors</a> 
import selectors
import socket
import contextlib

@contextlib.contextmanager
def Server(host,port):
   try:
      s = socket.socket(
            socket.AF_INET,
            socket.SOCK_STREAM)
      s.setsockopt(socket.SOL_SOCKET,
            socket.SO_REUSEADDR, 1)
      s.bind((host,port))
      s.listen(10)
      sel = selectors.DefaultSelector()
      yield s, sel
   except socket.error:
      print("Get socket error")
      raise
   finally:
      if s:
         s.close()

def read_handler(conn, sel):
   msg = conn.recv(1024) 
   if msg:
      conn.send(msg)
   else:
      sel.unregister(conn)
      conn.close()

def accept_handler(s, sel):
   conn, _ = s.accept()
   sel.register(conn, 
         selectors.EVENT_READ,
         read_handler)

host = 'localhost'
port = 5566
with Server(host, port) as (s,sel):
   sel.register(s, 
         selectors.EVENT_READ,
         accept_handler)
   while True:
      events = sel.select()
      for sel_key, m in events:
         handler = sel_key.data
         handler(sel_key.fileobj, sel)
# bash1&gt; nc localhost 5566
# Hello 
# Hello
# bash2&gt; nc localhost 5566
# Hi
# Hi
</pre>

<h3>Synchronous Simple UNIX Domain Socket</h3>
<pre class="code python">
import socket
import contextlib
import os

@contextlib.contextmanager
def DomainServer(addr):
   try:
      if os.path.exists(addr):
         os.unlink(addr)
      sock = socket.socket(
            socket.AF_UNIX,
            socket.SOCK_STREAM)
      sock.bind(addr)
      sock.listen(10)
      yield sock
   finally:
      sock.close()
      if os.path.exists(addr):
         os.unlink(addr)

addr = "./domain.sock"
with DomainServer(addr) as sock:
   while True:
      conn, _ = sock.accept()
      msg = conn.recv(1024)
      conn.send(msg)
      conn.close()

# bash &gt; nc -U ./domain.sock
# Hello
# Hello
</pre>
<h3>Asynchronous UNIX Domain Socket</h3>
<pre class="code python">
import socket
import os
import contextlib
from select import select

@contextlib.contextmanager
def DomainServer(addr):
   try:
      if os.path.exists(addr):
         os.unlink(addr)
      sock = socket.socket(
            socket.AF_UNIX,
            socket.SOCK_STREAM)
      sock.bind(addr)
      sock.listen(10)
      yield sock
   finally:
      sock.close()
      if os.path.exists(addr):
         os.unlink(addr)

addr = "./domain.sock"
with DomainServer(addr) as sock:
   rl = [sock]
   wl = {}
   while True:
      r, w ,_ = select(rl,wl,[])
      for _s in r:
         if _s == sock:
            c, _ = sock.accept()
            rl.append(c)
         else:
            msg = _s.recv(1024)
            wl[_s] = msg
      for _s in w:
         msg = wl[_s]
         try:
            _s.send(msg)
         except socket.error:
            pass
         del wl[_s]

# bash1&gt; nc -U ./domain.sock
# Hello
# Hello
# bash&gt; nc -U ./domain.sock
# KerKer
# KerKer
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>"socketpair" - Similar to PIPE</h3>
<pre class="code python">
import socket
import os
import time

c_s, p_s = socket.socketpair()
try:
   pid = os.fork()
except OSError:
   print "Fork Error"
   raise

if pid:
   # parent process
   c_s.close()
   while True:
      p_s.sendall("Hi! Child!")
      msg = p_s.recv(1024)
      print msg
      time.sleep(3)
   os.wait()
else:
   # child process
   p_s.close()
   while True:
      msg = c_s.recv(1024)
      print msg
      c_s.sendall("Hi! Parent!")

# bash&gt; python ex.py
# Hi! Child!
# Hi! Parent!
# Hi! Child!
# Hi! Parent!
# ...
</pre>

<h3>Run a SimpleHTTPServer</h3>
<pre class="code python">
# method 1
# bash&gt; python -m SimpleHTTPServer 5566
# method 2
&gt;&gt;&gt; import SocketServer as ss
&gt;&gt;&gt; import SimpleHTTPServer as shttps
&gt;&gt;&gt; h = shttps.SimpleHTTPRequestHandler
&gt;&gt;&gt; host = ('localhost',5566)
&gt;&gt;&gt; s = ss.TCPServer(
...   host, h)
&gt;&gt;&gt; s.serve_forever()
</pre>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
