{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some concepts of generator for a Python programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Using generator to produce value</h3>
<pre class="code python">
&gt;&gt;&gt; def prime(n):
...   p = 2
...   while n &gt; 0:
...     for _ in range(2,p):
...       if p % _ == 0:
...         break
...     else:
...       yield p
...       n-=1
...     p+=1
...
&gt;&gt;&gt; p = prime(3)
&gt;&gt;&gt; next(p)
2
&gt;&gt;&gt; next(p)
3
&gt;&gt;&gt; 
&gt;&gt;&gt; next(p)
5
&gt;&gt;&gt; next(p)
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
StopIteration
&gt;&gt;&gt; for _ in prime(5):
...   print(_, end=" ")
... 
2 3 5 7 11 &gt;&gt;&gt;
</pre>
<h3>Implement iterable object via generator</h3>
<pre class="code python">
&gt;&gt;&gt; class count(object):
...   def __init__(self,n):
...     self._n = n
...   def __iter__(self):
...     n = self._n
...     while n&gt;0:
...       yield n
...       n-=1
...   def __reversed__(self):
...     n = 0
...     while n&lt;self._n:
...       yield n
...       n+=1
... 
&gt;&gt;&gt; for _ in count(5):
...   print(_, end=" ")
... 
5 4 3 2 1 &gt;&gt;&gt; 
&gt;&gt;&gt; for _ in reversed(count(5)):
...   print(_, end=" ")
... 
0 1 2 3 4 &gt;&gt;&gt;
</pre>

<h3>Send message to generator</h3>
<pre class="code python">
&gt;&gt;&gt; def spam():
...   msg = yield
...   print("Message:",msg)
... 
&gt;&gt;&gt; try:
...   g = spam()
...   # start generator
...   next(g)
...   # send message to generator
...   g.send("Hello World!")
... except StopIteration:
...   pass
... 
Message: Hello World!
</pre>

<h3>Generator delegating</h3>
<pre class="code python">
# delegating list
&gt;&gt;&gt; def chain(a,b):
...   yield from a
...   yield from b
... 
&gt;&gt;&gt; a = [1,2,3]
&gt;&gt;&gt; b = [4,5,6]
&gt;&gt;&gt; for _ in chain(a,b):
...   print(_, end=" ")
... 
1 2 3 4 5 6 &gt;&gt;&gt;
# delegating dict
&gt;&gt;&gt; a = {'k1':1,'k2':2}
&gt;&gt;&gt; b = {'k3':3,'k4':4}
&gt;&gt;&gt; for _key in chain(a,b):
...   print(_key, end=" ")
... 
k2 k1 k3 k4 &gt;&gt;&gt;

</pre>

<h3>Implement a simple scheduler via generator</h3>
<pre class="code python">
&gt;&gt;&gt; def fib(n):
...   if n&lt;=2:
...     return 1
...   return fib(n-1)+fib(n-2)
... 
&gt;&gt;&gt; def g_fib(n):
...   for _ in range(1,n+1):
...     yield fib(_)
... 
&gt;&gt;&gt; from collections import deque
&gt;&gt;&gt; t = [g_fib(3),g_fib(5)]
&gt;&gt;&gt; q = deque()
&gt;&gt;&gt; q.extend(t)
&gt;&gt;&gt; def run():
...   while q:
...     try:
...       t = q.popleft()
...       print(next(t))
...       q.append(t)
...     except StopIteration:
...       print("Task done")
... 
&gt;&gt;&gt; run()
1
1
1
1
2
2
Task done
3
5
Task done
</pre>
<h3>Implement Simple round-robin with blocking</h3>
<pre class="code python">
# skill: using task and wait queue
from collections import deque
from select import select
import socket

tasks = deque()
w_read = {}
w_send = {}

def run():
   while any([tasks,w_read,w_send]):
      while not tasks:
         # polling tasks
         can_r,can_s,_ = select(
               w_read,w_send,[])
         for _r in can_r:
            tasks.append(w_read.pop(_r))
         for _w in can_s:
            tasks.append(w_send.pop(_w))
      try:
         task = tasks.popleft()
         why,what = next(task)
         if why == 'recv':
            w_read[what] = task 
         elif why == 'send':
            w_send[what] = task 
         else:
            raise RuntimeError
      except StopIteration:
         pass

def server():
   host = ('localhost',5566)
   sock = socket.socket(
         socket.AF_INET,
         socket.SOCK_STREAM)
   sock.setsockopt(
         socket.SOL_SOCKET,
         socket.SO_REUSEADDR,1)
   sock.bind(host)
   sock.listen(5)
   while True:
      # tell scheduler want block
      yield 'recv', sock 
      conn,addr = sock.accept()
      tasks.append(client_handler(conn))

def client_handler(conn):
   while True:
      # tell scheduler want block
      yield 'recv', conn
      msg = conn.recv(1024)
      if not msg:
         break
      # tell scheduler want block
      yield 'send', conn
      conn.send(msg)
   conn.close()

tasks.append(server())
run()
</pre>
<h3>Implement simple round-robin with blocking and non-blocking</h3>
<pre class="code pythob">
# this method will cause blocking hunger
from collections import deque
from select import select
import socket

tasks = deque()
w_read = {}
w_send = {}

def run():
   while any([tasks,w_read,w_send]):
      while not tasks:
         # polling tasks
         can_r,can_s,_ = select(
               w_read,w_send,[])
         for _r in can_r:
            tasks.append(w_read.pop(_r))
         for _w in can_s:
            tasks.append(w_send.pop(_w))
      try:
         task = tasks.popleft()
         why,what = next(task)
         if why == 'recv':
            w_read[what] = task 
         elif why == 'send':
            w_send[what] = task 
         elif why == 'continue':
            print what
            tasks.append(task)
         else:
            raise RuntimeError
      except StopIteration:
         pass

def fib(n):
   if n&lt;=2:
      return 1
   return fib(n-1)+fib(n-2)

def g_fib(n):
   for _ in range(1,n+1):
      yield 'continue', fib(_)
tasks.append(g_fib(15))

def server():
   host = ('localhost',5566)
   sock = socket.socket(
         socket.AF_INET,
         socket.SOCK_STREAM)
   sock.setsockopt(
         socket.SOL_SOCKET,
         socket.SO_REUSEADDR,1)
   sock.bind(host)
   sock.listen(5)
   while True:
      yield 'recv', sock 
      conn,addr = sock.accept()
      tasks.append(client_handler(conn))

def client_handler(conn):
   while True:
      yield 'recv', conn
      msg = conn.recv(1024)
      if not msg:
         break
      yield 'send', conn
      conn.send(msg)
   conn.close()

tasks.append(server())
run()
</pre>

<h3>Relationship between generator and contextmanager</h3>
<pre class="code python">
&gt;&gt;&gt; import contextlib
&gt;&gt;&gt; @contextlib.contextmanager
... def mylist():
...   try:
...     l = [1,2,3,4,5]
...     yield l
...   finally:
...     print("exit scope")
... 
&gt;&gt;&gt; with mylist() as l:
...   print(l)
... 
[1, 2, 3, 4, 5]
exit scope
</pre>

<h3>What @contextmanager actually doing?</h3>
<pre class="code python">
# ref: <a href="https://www.youtube.com/watch?v=5-qadlG7tWo">PyCon 2014 - David Beazley</a>
# define a context manager class
class GeneratorCM(object):
   def __init__(self,gen):
      self._gen = gen
   def __enter__(self):
      return next(self._gen)

   def __exit__(self, *exc_info):
      try:
         if exc_info[0] is None:
            next(self._gen)
         else:
            self._gen.throw(*exc_info)
         raise RuntimeError
      except StopIteration:
         return True
      except:
         raise
            
# define a decorator
def contextmanager(func):
   def run(*a, **k):
      return GeneratorCM(func(*a, **k))
   return run

# example of context manager
@contextmanager
def mylist():
   try:
      l=[1,2,3,4,5]
      yield l
   finally:
      print "exit scope"

with mylist() as l:
   print l

# bash&gt; python example.py 
# [1, 2, 3, 4, 5]
# exit scope
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Realizing "future" concept</h3>
<pre class="code python">
# future - a result will compute later
# using Python 3.2 or later
&gt;&gt;&gt; import concurrent.futures as cf
&gt;&gt;&gt; pool = cf.ThreadPoolExecutor(3)
&gt;&gt;&gt; import time
&gt;&gt;&gt; def do_func(x,y):
...   time.sleep(10)
...   return x + y
... 
&gt;&gt;&gt; pool.submit(do_func,2,3)
&lt;Future at 0x10bffd4e0 state=running&gt;
&gt;&gt;&gt; _.result()
5
# error handling on callback function 
&gt;&gt;&gt; def callback_handler(fut):
...   try:
...     result = fut.result()
...     print("Got:",result)
...   except TypeError:
...     print("Got TypeError")
...
&gt;&gt;&gt; pool.submit(do_func,2,"Hello")
&lt;Future at 0x10c2800b8 state=pending&gt;
&gt;&gt;&gt; _.add_done_callback(callback_handler)
Got TypeError
</pre>

<h3>"res = yield func()" come from?</h3>
<pre class="code python">
# as above example, rename func below
&gt;&gt;&gt; import concurrent.futures as cf
&gt;&gt;&gt; import time
&gt;&gt;&gt; def enter(x,y):
...   time.sleep(10)
...   return x + y
... 
&gt;&gt;&gt; def exit(fut):
...   try:
...     res = fut.result()
...     print("Got:",res)
...   except:
...     raise
...
# This is almost a context manager form
# Rewrite:
# wrapping generator with "Task"
class Task(object):
   def __init__(self,gen):
      self._gen = gen

   def step(self, val=None):
      # Purpose: run the next yield
      try:
         fut = self._gen.send(val)
         fut.add_done_callback(self._wkup)
      except StopIteration:
         pass
   def _wkup(self, fut):
      # Purpose: handling result
      res = fut.result()
      # "send result" to generator 
      self.step(res)

# Demo how to use "Task"
import concurrent.futures as cf
import time
pool = cf.ThreadPoolExecutor(3)

def f(x,y):
   time.sleep(10)
   return x + y

def do_func(x,y):
   result = yield pool.submit(f,x,y)
   print("Got:",result)

g = do_func(2,3)
t = Task(g)
t.step()
# bash&gt; python example.py
# Got: 5
</pre>

<h3>Do some task after some task done</h3>
<pre class="code python">
# ex.py
# wrapping generator with "Task"
class Task(object):
   def __init__(self,gen):
      self._gen = gen

   def step(self, val=None):
      # Purpose: run the next yield
      try:
         fut = self._gen.send(val)
         fut.add_done_callback(self._wakeup)
      except StopIteration:
         pass
   def _wakeup(self, fut):
      # Purpose: handling result
      res = fut.result()
      self.step(res)

# Demo how to use "Task"
import concurrent.futures as cf
import time
pool = cf.ThreadPoolExecutor(8)

def func(x,y):
   return x + y

def do_func(x,y):
   res = yield pool.submit(func,x,y)
   print("Got:", res)

# brute-force solution
def after_bf(delay,gen):
   yield pool.submit(time.sleep, delay)
   result = None
   try:
      while True:
         fut = gen.send(result)
         result = yield fut
   except StopIteration:
      pass
   
# elegant solution
def after_e(delay,gen):
   # do some task like init
   yield pool.submit(time.sleep, delay)
   # do exactly task after some task
   yield from gen

# bash&gt; python3
&gt;&gt;&gt; from ex import Task
&gt;&gt;&gt; from ex import do_func
&gt;&gt;&gt; from ex import after_bf
&gt;&gt;&gt; from ex import after_e
&gt;&gt;&gt; Task(after_bf(5,do_func(2,3))).step()
&gt;&gt;&gt; Got: 5

&gt;&gt;&gt; Task(after_e(5,do_func(2,3))).step()
&gt;&gt;&gt; Got: 5
</pre>

</div>
<div class="row col-md-4 col-xs-12">
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
