{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some daemon concept for Python programmers need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Simple Daemon</h3>
<pre class="code python">
# Need using "kill" to kill process
# 5 step need to do
import os, sys, time
# Step 1 - fork child process
try:
   pid = os.fork()
   if pid &gt; 0:
      sys.exit(0)
except OSError as e:
   import traceback
   traceback.print_exception(e)
   sys.exit(1)

# Step 2 - set session id
os.setsid()
# Step 3 - set file mask
os.umask(0)
# Step 4 - change working directory
os.chdir('/')
# Step 5 - redirect stdin, stdout, stderr
sys.stdin = file('/dev/null','r')
sys.stdout = file('/tmp/_.log','a+')
sys.stderr = file('/tmp/_.log','a+')
# Run daemon
while True:
   print "Hello World"
   sys.stdout.flush()
   time.sleep(5.)

# output:
# bash&gt; tail -f /tmp/_.log
</pre>

<h3>Simple Daemon - fork() Twice</h3>
<pre class="code python">
# prevent daemon control terminal
# see:http://stackoverflow.com/q/881388
import os, sys, time

try:
   pid = os.fork()
   if pid &gt; 0:
      sys.exit(0)
except OSError as e:
   import traceback
   traceback.print_exception(e)
   sys.exit(1)

os.setsid()
os.umask(0)
os.chdir('/')

try:
   pid = os.fork()
   if pid &gt; 0:
      sys.exit(0)
except OSError as e:
   import traceback
   traceback.print_exception(e)
   sys.exit(1)

sys.stdin  = file('/dev/null','r')
sys.stdout = file('/tmp/_.log','a+')
sys.stderr = file('/tmp/_.log','a+')
while True:
   print "Hello World"
   sys.stdout.flush()
   time.sleep(5.)
</pre>

<h3>Simple Daemon with pidfile</h3>
<pre class="code python">
# easiest way to check daemon alive
# see:http://unix.stackexchange.com/q/12815
# pidfile cannot always imply process alive
import os, sys, time

pidfile = '/tmp/_.pid'
# check pidfile exist
if os.path.exists(pidfile):
   print "Daemon has already exist"
   sys.exit(0)

try:
   pid = os.fork()
   if pid &gt; 0:
      sys.exit(0)
except OSError as e:
   import traceback
   traceback.print_exception(e)
   sys.exit(1)

os.setsid()
os.umask(0)
os.chdir('/')

# create pidfile
with open(pidfile, 'w') as f:
   f.write(str(os.getpid()))

sys.stdin  = file('/dev/null','r')
sys.stdout = file('/tmp/_.log','a+')
sys.stderr = file('/tmp/_.log','a+')
while True:
   print "Hello World"
   sys.stdout.flush()
   time.sleep(5.)
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Get Pid from Pidfile and Kill Daemon</h3>
<pre class="code python">
&gt;&gt;&gt; import os, signal
&gt;&gt;&gt; with open('/tmp/_.pid','r') as fd:
...   pid = int(fd.read().strip())
...   print pid
...   os.kill(pid, signal.SIGTERM)
... 
68866
</pre>

<h3>Daemon - Start, Stop, Restart</h3>
<pre class="code python">
# using pidfile
import os, sys, time
from signal import SIGTERM

pidfile = '/tmp/_.pid'
def daemon():
   if os.path.exists(pidfile):
      print "Daemon has already exist"
      sys.exit(0)
   try:
      pid = os.fork()
      if pid &gt; 0:
         sys.exit(0)
   except OSError as e:
      import traceback
      traceback.print_exception(e)
      sys.exit(1)

   os.setsid()
   os.umask(0)
   os.chdir('/')
   with open(pidfile, 'w') as f:
      f.write(str(os.getpid()))
   sys.stdin  = file('/dev/null','r')
   sys.stdout = file('/tmp/_.log','a+')
   sys.stderr = file('/tmp/_.log','a+')

def run():
   while True:
      print "Hello World"
      sys.stdout.flush()
      time.sleep(5.)

# Start function
def start():
   daemon()
   run()
# Stop function
def stop():
   try:
      with open(pidfile, 'r') as f:
         # get daemon pid
         pid = int(f.read().strip())
         # kill daemon process
         os.kill(pid, SIGTERM)
      # remove pidfile
      os.remove(pidfile)
   except: 
      print "Daemon not exist"

if __name__ == '__main__':
   if len(sys.argv) == 2:
      if sys.argv[1] == 'start':
         start()
      if sys.argv[1] == 'stop':
         stop()
      if sys.argv[1] == 'restart':
         stop()
         start()
   else:
      print "Usage: start|stop|restart"

# using "ps" check daemon exist
# bash&gt; python example.py start
# bash&gt; python example.py restart
# bash&gt; python example.py stop 
</pre>

<h3>Simple Daemon - Using python-daemon</h3>
<pre class="code python">
# see: pypi/python-daemon
# see: PEP 3143
&gt;&gt;&gt; import daemon, os, time, sys
&gt;&gt;&gt; c = daemon.DaemonContext(
...   working_directory = '/',
...   umask   = os.umask(002),
...   pidfile = file('/tmp/__.pid','w'),
...   stdin   = file('/dev/null','r'),
...   stdout  = file('/tmp/__.log','a+'),
...   stderr  = file('/tmp/__.log','a+'))
&gt;&gt;&gt; def hello_world():
...   while True:
...     print "Hello World"
...     sys.stdout.flush()
...     time.sleep(3.)
... 
&gt;&gt;&gt; with c:
...   hello_world()
... 

# output:
# bash&gt; tail -f /tmp/__.log
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Implement start, stop, restart in convenient way</h3>
<pre class="code python">
# using daemon runner
from daemon import runner
import sys, time

class App(object):
   def __init__(self):
      self.stdin_path   = '/dev/null'
      self.stdout_path  = '/tmp/_.log'
      self.stderr_path  = '/tmp/_.log'
      self.pidfile_path = '/tmp/_.pid'
      self.pidfile_timeout = 5
   def run(self):
      while True:
         print "Hello World"
         sys.stdout.flush()
         time.sleep(5)

app = App()
daemon_runner = runner.DaemonRunner(app)
daemon_runner.do_action()

# bash&gt; python example.py start
# bash&gt; tail -f /tmp/_.log
# bash&gt; python example.py restart 
# bash&gt; python example.py stop
</pre>

<h3>Job Manager Daemon</h3>

<pre class="code python">
# Consumer and Producer architecture
import random, time, sys, Queue
from threading import Thread
from daemon import runner

def Work(sec):
   print "Hello World wait %s" %sec
   sys.stdout.flush()

class App():
   def __init__(self):
      self.stdin_path   = '/dev/null'
      self.stdout_path  = '/tmp/_.log'
      self.stderr_path  = '/tmp/_.log'
      self.pidfile_path = '/tmp/_.pid'
      self.pidfile_timeout = 5
      self.q = Queue.Queue()
   def worker(self):
      """
      Consumer
      """
      while True:
         task, args, kwargs= self.q.get()
         try: 
            task(*args, **kwargs)
         except Exception as e:
            import traceback
            traceback.print_exception(e)
         self.q.task_done()
   def run(self):
      task = Thread(target=self.worker)
      task.daemon = True
      task.start()
      while True:
         """
         producer
         """
         sec = random.random()*5
         time.sleep(sec)
         task = (Work, (sec,) ,{})
         self.q.put(task)
      queue.join()

app = App()
daemon_runner = runner.DaemonRunner(app)
daemon_runner.do_action()

# bash&gt; python example.py start
# bash&gt; tail -f /tmp/_.log
# bash&gt; python example.py restart
# bash&gt; python example.py stop
</pre>

<h3>How to Register as Service</h3>
<pre class="code bash">
# Step 1- copy pydaemon.sh to /etc/init.d
# Step 2- copy pydaemon.py to /usr/share
#!/bin/bash
case "$1" in
   start)
      echo "Starting pydaemon"
      /usr/share/pydaemon.py start 
   ;;
   stop)
      echo "Stopping pydaemon"
      /usr/share/pydaemon.py stop 
   ;;
   restart)
      echo "Restarting pydaemon"
      /usr/share/pydaemon.py restart
   ;;
   *)
      echo "Usage: start|stop|restart"
      exit 1
   ;;
esac

# bash&gt; service pydaemon start
# bash&gt; /etc/init.d/pydaemon start
</pre>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
