{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some basic concepts for Python programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">
<h3>Python Naming Styles</h3>
<pre class="code python">
# see: PEP8
# for public use
var

# for internal use
_var

# convention to avoid conflict keyword 
var_

# for private use in class
__var

# for protect use in class
_var_

# "magic" method or attributes
# ex: __init__, __file__, __main__
__var__

# for "internal" use throwaway variable 
# usually used in loop
# ex: [_ for _ in range(10)]
# or variable not used
# for _, a in [(1,2),(3,4)]: print a
_
</pre>
<h3>Get __future__ features</h3>
<pre class="code python">
# programmers can use to enable new language features
# see: https://docs.python.org/2/glossary.html
# for example: print function
&gt;&gt;&gt; f = lambda: print("ker")
  File "&lt;stdin&gt;", line 1
    f = lambda: print("ker")
                    ^
SyntaxError: invalid syntax
&gt;&gt;&gt; from __future__ import print_function
&gt;&gt;&gt; f = lambda: print("ker")
&gt;&gt;&gt; f()
ker
</pre>


<h3>Check object attributes</h3>
<pre class="code python">
# example of check list attributes
&gt;&gt;&gt; dir(list)
['__add__', '__class__', ...]
<D-r></pre>

<h3>Define a function __doc__</h3>
<pre class="code python">
# Define a function document
&gt;&gt;&gt; def Example():
...   """ This is an example function """
...   print "Example function"
...
&gt;&gt;&gt; Example.__doc__
' This is an example function '

# Or using help function
&gt;&gt;&gt; help(Example)
</pre>
<h3>Check instance type</h3>
<pre class="code python">
&gt;&gt;&gt; ex = 10
&gt;&gt;&gt; isinstance(ex,int)
True
</pre>
<h3>Check, Get, Set attribute</h3>
<pre class="code python">
&gt;&gt;&gt; class example(object):
...   def __init__(self):
...     self.name = "ex"
...   def printex(self):
...     print "This is an example"
... 

# Check object has attributes
# hasattr(obj, 'attr')
&gt;&gt;&gt; ex = example()
&gt;&gt;&gt; hasattr(ex,"name")
True
&gt;&gt;&gt; hasattr(ex,"printex")
True
&gt;&gt;&gt; hasattr(ex,"print")
False

# Get object attribute
# getattr(obj, 'attr')
&gt;&gt;&gt; getattr(ex,'name')
'ex'

# Set object attribute
# setattr(obj, 'attr', value)
&gt;&gt;&gt; setattr(ex,'name','example')
&gt;&gt;&gt; ex.name
'example'
</pre>
<h3>Check inheritance</h3>
<pre class="code python">
&gt;&gt;&gt; class example(object):
...   def __init__(self):
...     self.name = "ex"
...   def printex(self):
...     print "This is an example"
... 
&gt;&gt;&gt; issubclass(example,object)
True
</pre>

<h3>Check all global variables</h3>

<pre class="code python">
# globals() return a dictionary
# {'variable name': variable value}
&gt;&gt;&gt; globals()
{'args': (1, 2, 3, 4, 5), ...}
</pre>

<h3>Check "callable"</h3>
<pre class="code python">
&gt;&gt;&gt; a = 10
&gt;&gt;&gt; def fun():
...   print "I am callable"
... 
&gt;&gt;&gt; callable(a)
False
&gt;&gt;&gt; callable(fun)
True
</pre>
<h3>Get function/class name</h3>
<pre class="code python">
&gt;&gt;&gt; class excls(object):
...   pass
... 
&gt;&gt;&gt; def exfun():
...   pass
...
&gt;&gt;&gt; ex.__class__.__name__
'excls'
&gt;&gt;&gt; exfun.__name__
'exfun'
</pre>

<h3>Common Use "Magic"</h3>
<pre class="code python">
# see python document: data model 
# For command class
__main__
__name__
__file__
__module__
__all__
__dict__
__class__
__doc__
__init__(self, [...)
__str__(self)
__repr__(self)
__del__(self)

# For Descriptor
__get__(self, instance, owner)
__set__(self, instance, value)
__delete__(self, instance)

# For Context Manager
__enter__(self)
__exit__(self, exc_ty, exc_val, tb)

# Emulating container types
__len__(self)
__getitem__(self, key)
__setitem__(self, key, value)
__delitem__(self, key)
__iter__(self)
__contains__(self, value)

# Controlling Attribute Access
__getattr__(self, name)
__setattr__(self, name, value)
__delattr__(self, name)
__getattribute__(self, name)

# Callable object
__call__(self, [args...])

# Compare related
__cmp__(self, other)
__eq__(self, other)
__ne__(self, other)
__lt__(self, other)
__gt__(self, other)
__le__(self, other)
__ge__(self, other)

# arithmetical operation related
__add__(self, other)
__sub__(self, other)
__mul__(self, other)
__div__(self, other)
__mod__(self, other)
__and__(self, other)
__or__(self, other)
__xor__(self, other)
</pre>

<h3>Arithmetic operators and Comparison</h3>
<pre class="code python">
class example(object):

   def __init__(self,val1,val2):
      self.val1 = val1
      self.val2 = val2
   def __add__(self,other):
      _1 = self.val1 + other.val1
      _2 = self.val2 + other.val2
      return _1 + _2

   def __sub__(self,other):
      _1 = self.val1 - other.val1
      _2 = self.val2 - other.val2
      return _1 - _2

   def __mul__(self,other):
      _1 = self.val1 * other.val1
      _2 = self.val2 * other.val2
      return _1 * _2

   def __div__(self,other):
      _1 = self.val1 / other.val1
      _2 = self.val2 / other.val2
      return _1 / _2

   def __mod__(self,other):
      _1 = self.val1 % other.val1
      _2 = self.val2 % other.val2
      return _1 % _2
   
   def __eq__(self,other):
      if self.val1 == other.val1 and\
            self.val2 == other.val2:
         return True
      return False

   def __ne__(self,other):
      if self.val1 != other.val1 or\
            self.val2 != other.val2:
         return True
      return False
   
   def __lt__(self,other):
      if self.val1 &lt; other.val1 or\
            self.val2 &lt; other.val2:
         return True
      return False

   def __gt__(self,other):
      if self.val1 &gt; other.val1 or\
            self.val2 &gt; other.val2:
         return True
      return False

   def __le__(self,other):
      if self.val1 &lt;= other.val1 or\
            self.val2 &lt;= other.val2:
         return True
      return False

   def __ge__(self,other):
      if self.val1 &gt;= other.val1 or\
            self.val2 &gt;= other.val2:
         return True
      return False

# example result:
&gt;&gt;&gt; ex1 = example(1.,2.)
&gt;&gt;&gt; ex2 = example(3.,4.)
&gt;&gt;&gt; ex1+ex2
10.0
&gt;&gt;&gt; ex1-ex2
0.0
&gt;&gt;&gt; ex1*ex2
24.0
&gt;&gt;&gt; ex1/ex2
0.6666666666666666
&gt;&gt;&gt; ex1%ex2
1.0
&gt;&gt;&gt; ex1&gt;ex2
False
&gt;&gt;&gt; ex1&lt;ex2
True
&gt;&gt;&gt; ex1==ex2
False
</pre>
</div>

<div class="row col-md-4 col-xs-12">
<h3>Representations of your class behave</h3>

<pre class="code python">
&gt;&gt;&gt; class example(object):
...    def __str__(self):
...       return "example __str__"
...    def __repr__(self):
...       return "example __repr__"
... 
&gt;&gt;&gt; print str(example())
example __str__
&gt;&gt;&gt; example()
example __repr__
</pre>

<h3>Get list item "SMART"</h3>
<pre class="code python">
&gt;&gt;&gt; a = [1,2,3,4,5]
&gt;&gt;&gt; a[0]
1
&gt;&gt;&gt;a[-1]
5
&gt;&gt;&gt; a[0:]
[1,2,3,4,5]
&gt;&gt;&gt; a[:-1]
[1,2,3,4]

# a[start:end:step]
&gt;&gt;&gt; a[0:-1:2]
[1,3]

# using slice object
# slice(start,end,step)
&gt;&gt;&gt; s = slice(0,-1,2)
&gt;&gt;&gt; a[s]
[1,3]

# Get index and item in loop
&gt;&gt;&gt; a = range(3)
&gt;&gt;&gt; for idx,item in enumerate(a):
...   print (idx,item),
... 
(0, 0) (1, 1) (2, 2)

# Transfer two list into tuple list
&gt;&gt;&gt; a = [1,2,3,4,5]
&gt;&gt;&gt; b = [2,4,5,6,8]
&gt;&gt;&gt; zip(a,b)
[(1, 2), (2, 4), (3, 5), (4, 6), (5, 8)]

# with filter
&gt;&gt;&gt; [x for x in range(5) if x&gt;1]
[2, 3, 4]
&gt;&gt;&gt; _ = ['1','2',3,'Hello',4]
&gt;&gt;&gt; f = lambda x: isinstance(x,int)
&gt;&gt;&gt; filter(f,_)
[3, 4]
</pre>
<h3>Get dictionary item "SMART"</h3>
<pre class="code python">
# get dictionary all keys
&gt;&gt;&gt; a={"1":1,"2":2,"3":3}
&gt;&gt;&gt; b={"2":2,"3":3,"4":4}
&gt;&gt;&gt; a.keys()
['1', '3', '2']

# get dictionary key and value as tuple
&gt;&gt;&gt; a.items()
[('1', 1), ('3', 3), ('2', 2)]

# find same key between two dictionary
&gt;&gt;&gt; [_ for _ in a.keys() if _ in b.keys()]
['3', '2']
# better way
&gt;&gt;&gt; c = set(a).intersection(set(b))
&gt;&gt;&gt; list(c)
['3', '2']
# or
&gt;&gt;&gt; [_ for _ in a if _ in b]
['3', '2']

# update dictionary
&gt;&gt;&gt; a.update(b)
&gt;&gt;&gt; a
{'1': 1, '3': 3, '2': 2, '4': 4}
</pre>

<h3>Set a list/dict "SMART"</h3>
<pre class="code python">
# get a list with init value
&gt;&gt;&gt; ex = [0]*10
&gt;&gt;&gt; ex
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# extend two list
&gt;&gt;&gt; a = [1,2,3]; b=['a','b']
&gt;&gt;&gt; a+b
[1, 2, 3, 'a', 'b']

# using generator
&gt;&gt;&gt; [x for x in range(10)]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
&gt;&gt;&gt; fn = lambda x: x**2
&gt;&gt;&gt; [fn(x) for x in range(5)]
[0, 1, 4, 9, 16]
&gt;&gt;&gt; {'{0}'.format(x): x for x in range(3)}
{'1': 1, '0': 0, '2': 2}

# using builtin function "map"
&gt;&gt;&gt; map(fn,range(5))
[0, 1, 4, 9, 16] 
</pre>

<h3>NamedTuple</h3>
<pre class="code python">
# namedtuple(typename, field_names)
# replace define class without method 
# see: python document collections
&gt;&gt;&gt; from collections import namedtuple
&gt;&gt;&gt; ex = namedtuple("ex",'a b c')
&gt;&gt;&gt; e = ex(1,2,3)
&gt;&gt;&gt; print e.a, e[1], e[1]+e.b
1 2 4
</pre>

<h3>Delegating Iteration (__iter__)</h3>
<pre class="code python">
# __iter__ return an iterator object
# Be careful: list is an "iterable" object not an "iterator" 
&gt;&gt;&gt; class example(object):
...    def __init__(self,list_):
...       self._list = list_
...    def __iter__(self):
...      return iter(self._list)
...
&gt;&gt;&gt; ex = example([1,2,3,4,5])
&gt;&gt;&gt; for _ in ex: print _,
...
1 2 3 4 5
</pre>

<h3>Using Generator as Iterator</h3>
<pre class="code python">
# see: PEP289
&gt;&gt;&gt; a = (_ for _ in range(10))
&gt;&gt;&gt; for _ in a: print _,
... 
0 1 2 3 4 5 6 7 8 9

# equivalent to
&gt;&gt;&gt; def _gen():
...   for _ in range(10):
...     yield _
... 
&gt;&gt;&gt; a = _gen()
&gt;&gt;&gt; for _ in a: print _,
... 
0 1 2 3 4 5 6 7 8 9 
</pre>

<h3>Emulating a list</h3>

<pre class="code python">
&gt;&gt;&gt; class emulist(object):
...   def __init__(self,list_):
...     self._list = list_
...   def __repr__(self):
...     return "emulist: "+str(self._list)
...   def append(self,item):
...     self._list.append(item)
...   def remove(self,item):
...     self._list.remove(item)
...   def __len__(self):
...     return len(self._list)
...   def __getitem__(self,sliced):
...     return self._list[sliced]
...   def __setitem__(self,sliced,val):
...     self._list[sliced] = val
...   def __delitem__(self,sliced):
...     del self._list[sliced]
...   def __contains__(self,item):
...     return item in self._list
...   def __iter__(self):
...     return iter(self._list) 
...
&gt;&gt;&gt; emul = emulist(range(5))
&gt;&gt;&gt; emul
emulist: [0, 1, 2, 3, 4]
&gt;&gt;&gt; emul[1:3]
[1, 2]
&gt;&gt;&gt; emul[0:4:2]
[0, 2]
&gt;&gt;&gt; len(emul)
5
&gt;&gt;&gt; emul.append(5)
&gt;&gt;&gt; emul
emulist: [0, 1, 2, 3, 4, 5]
&gt;&gt;&gt; emul.remove(2)
&gt;&gt;&gt; emul
emulist: [0, 1, 3, 4, 5]
&gt;&gt;&gt; emul[3] = 6
&gt;&gt;&gt; emul
emulist: [0, 1, 3, 6, 5]
&gt;&gt;&gt; 0 in emul
True
</pre>

<h3>Emulating a dictionary</h3>

<pre class="code python">
&gt;&gt;&gt; class emudict(object):
...   def __init__(self,dict_):
...     self._dict = dict_
...   def __repr__(self):
...     return "emudict: "+str(self._dict)
...   def __getitem__(self,key):
...     return self._dict[key]
...   def __setitem__(self,key,val):
...     self._dict[key] = val
...   def __delitem__(self,key):
...     del self._dict[key]
...   def __contains__(self,key):
...     return key in self._dict
...   def __iter__(self):
...     return iter(self._dict.keys())
... 
&gt;&gt;&gt; _ = {"1":1,"2":2,"3":3}
&gt;&gt;&gt; emud = emudict(_)
&gt;&gt;&gt; emud
emudict: {'1': 1, '3': 3, '2': 2}
&gt;&gt;&gt; emud['1']
1
&gt;&gt;&gt; emud['5'] = 5
&gt;&gt;&gt; emud
emudict: {'1': 1, '3': 3, '2': 2, '5': 5}
&gt;&gt;&gt; del emud['2']
&gt;&gt;&gt; emud
emudict: {'1': 1, '3': 3, '5': 5}
&gt;&gt;&gt; for _ in emud: print emud[_],
... 
1 3 5
&gt;&gt;&gt; '1' in emudict
True
</pre>

<h3>Decorator</h3>
<pre class="code python">
# see: PEP318
&gt;&gt;&gt; def decor(func):
...   def wrapper(*args,**kwargs):
...     print "wrapper"
...     func()
...     print "-------"
...   return wrapper
... 
&gt;&gt;&gt; @decor
... def example():
...   print "Example"
... 
&gt;&gt;&gt; example()
wrapper
Example
-------

# equivalent to
&gt;&gt;&gt; def example():
...   print "Example"
... 
&gt;&gt;&gt; example = decor(example)
&gt;&gt;&gt; example()
wrapper
Example
-------
</pre>
<h3>Decorator with arguments</h3>

<pre class="code python">
&gt;&gt;&gt; def example(val):
...   def decor(func):
...     def wrapper(*args,**kargs):
...       print "Val is {0}".format(val)
...       func()
...     return wrapper
...   return decor
...
&gt;&gt;&gt; @example(10)
... def undecor():
...   print "This is undecor func"
...
&gt;&gt;&gt; undecor()
Val is 10
This is undecor func

# equivalent to
&gt;&gt;&gt; def undecor():
...   print "This is undecor func"
...
&gt;&gt;&gt; d = example(10)
&gt;&gt;&gt; undecor = d(undecor)
&gt;&gt;&gt; undecor()
Val is 10
This is undecor func
</pre>

</div>

<div class="row col-md-4 col-xs-12">
<h3>for: exp else: exp</h3>
<pre class="code python">
# see document: More Control Flow Tools
# forloop’s else clause runs when no break occurs
&gt;&gt;&gt; for _ in range(5):
...   print _,
... else:
...   print "\nno break occur"
... 
0 1 2 3 4 
no break occur
&gt;&gt;&gt; for _ in range(5):
...   if _ % 2 ==0:
...     print "break occur"
...     break
... else:
...   print "else not occur"
... 
break occur
# above statement equivalent to
flag = False
for _ in range(5):
  if _ % 2 == 0:
    flag = True
    print "break occur"
    break
if flag == False:
  print "else not occur"
</pre>
<h3>try: exp else: exp</h3>
<pre class="code python">
# No exception occur will go into else.
&gt;&gt;&gt; try:
...   print "No exception"
... except:
...   pass
... else:
...   print "else occur"
... 
No exception
else occur
</pre>

<h3>Lambda function</h3>
<pre class="code python">
# lambda [input]: expression
&gt;&gt;&gt; fn = lambda x: x**2
&gt;&gt;&gt; fn(3)
9
&gt;&gt;&gt; (lambda x:x**2)(3)
9
&gt;&gt;&gt; (lambda x: [x*_ for _ in range(5)])(2)
[0, 2, 4, 6, 8]
&gt;&gt;&gt; (lambda x: x if x&gt;3 else 3)(5)
5

# multiline lambda example 
&gt;&gt;&gt; (lambda x:
... True
... if x&gt;0 
... else 
... False)(3)
True
</pre>

<h3>Function with option arguments (*args, **kwargs)</h3>
<pre class="code python">
&gt;&gt;&gt; def example(a,b=None,*args,**kwargs):
...   print a, b
...   print args
...   print kwargs
...
&gt;&gt;&gt; example(1,"var",2,3,word="hello")
1 var
(2, 3)
{'word': 'hello'}
&gt;&gt;&gt; _args = (1,2,3,4,5)
&gt;&gt;&gt; _kwargs = {"1":1,"2":2,"3":3}
&gt;&gt;&gt; example(1,"var",*_args,**_kwargs)
1 var
(1, 2, 3, 4, 5)
{'1': 1, '3': 3, '2': 2}
</pre>

<h3>Callable object</h3>
<pre class="code python">
&gt;&gt;&gt; class calobj(object):
...   def example(self):
...     print "I am callable!"
...   def __call__(self):
...     self.example()
... 
&gt;&gt;&gt; ex = calobj()
&gt;&gt;&gt; ex()
I am callable!
</pre>

<h3>"with" statement (Context Manager)</h3>
<pre class="code python">
# replace try: ... finally: ...
# see: PEP343
# common use in open and close
# example:
import socket
class Socket(object):
   def __init__(self,host,port):
      self.host = host
      self.port = port
   def __enter__(self):
      sock = socket.socket(
               socket.AF_INET,
               socket.SOCK_STREAM)
      sock.bind((self.host,self.port))
      sock.listen(5)
      self.sock = sock
      return self.sock

   def __exit__(self,*exc_info):
      if exc_ty is not None:
         import traceback
         traceback.print_exception(
            *exc_info)
      self.sock.close()

if __name__=="__main__":
   host = 'localhost'
   port 5566
   with Socket(host,port) as s:
      while True:
         conn, addr = s.accept()
         msg = conn.recv(1024)
         print msg
         conn.send(msg)
         conn.close()
</pre>
<h3>Using "contextlib" implement Context Manager</h3>
<pre class="code python">
from contextlib import contextmanager
@contextmanager
def opening(filename):
   f = open(filename)
   try:
      yield f
   finally:
      f.close()
          
with opening('example.txt','r') as fd:
   fd.read()
</pre>

<h3>Using "with" statement open file</h3>
<pre class="code python">
&gt;&gt;&gt; with open("example",'r') as f:
...    content = f.read()
</pre>

<h3>Property - Managed attributes</h3>
<pre class="code python">
class example(object):
   def __init__(self,value):
      self.val = value
   
   @property
   def val(self):
      return self._val

   @val.setter
   def val(self,value):
      if not isintance(value,int):
         raise TypeError("Expect int")
      self._val = value

   @ val.deleter
   def val(self):
      del self._val

# example result:
&gt;&gt;&gt; ex = example(123)
&gt;&gt;&gt; ex.val = "str"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "test.py", line 12, in val
    raise TypeError("Expect int")
TypeError: Expect int
</pre>

<h3>Computed attribures - Using property</h3>
<pre class="code python">
# Concept: Attribure's value is not store in memory. Computing the value only when we need.
&gt;&gt;&gt; class example(object):
...   @property
...   def square3(self):
...     return 2**3
... 
&gt;&gt;&gt; ex = example()
&gt;&gt;&gt; ex.square3
8
</pre>
<h3>Descriptor - Another choice to manage attributes</h3>
<pre class="code python">
# Descriptor
&gt;&gt;&gt; class Integer(object):
...   def __init__(self,name):
...     self._name = name
...   def __get__(self,inst,cls):
...     if inst is None:
...       return self
...     else:
...       return inst.__dict__[self._name]
...   def __set__(self,inst,value):
...     if not isinstance(value,int):
...       raise TypeError("Expected INT")
...     inst.__dict__[self._name] = value
...   def __delete__(self,inst):
...     del inst.__dict__[self._name]
...
&gt;&gt;&gt; class example(object):
...   x = Integer('x')
...   def __init__(self,val):
...     self.x = val
...
&gt;&gt;&gt; ex = example(1)
&gt;&gt;&gt; ex = example("str")
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
  File "&lt;stdin&gt;", line 4, in __init__
  File "&lt;stdin&gt;", line 11, in __set__
TypeError: Expected an int
</pre>

<h3>@staticmethod, @classmethod</h3>
<pre class="code python">
# @classmethod: bound to class
# @staticmethod: like python function but in class
&gt;&gt;&gt; class example(object):
...   @classmethod
...   def clsmethod(cls):
...     print "I am classmethod"
...   @staticmethod
...   def stmethod():
...     print "I am staticmethod"
...   def instmethod(self):
...     print "I am instancemethod"
... 
&gt;&gt;&gt; ex = example()
&gt;&gt;&gt; ex.clsmethod()
I am classmethod
&gt;&gt;&gt; ex.stmethod()
I am staticmethod
&gt;&gt;&gt; ex.instmethod()
I am instancemethod
&gt;&gt;&gt; example.clsmethod()
I am classmethod
&gt;&gt;&gt; example.stmethod()
I am staticmethod
&gt;&gt;&gt; example.instmethod()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unbound method instmethod() ...
</pre>

<h3>Abstract method - Meta class</h3>
<pre class="code python">
# usually using in define methods but not implement
from abc import ABCMeta, abstractmethod

&gt;&gt;&gt; class base(object):
...   __metaclass__ = ABCMeta
...   @abstractmethod
...   def absmethod(self):
...     """ Abstract method """
... 
&gt;&gt;&gt; class example(base):
...   def absmethod(self):
...     print "abstract"
... 
&gt;&gt;&gt; ex = example()
&gt;&gt;&gt; ex.absmethod()
abstract

# another better way to define a meta class
&gt;&gt;&gt; class base(object):
...   def absmethod(self):
...     raise NotImplementedError
...
&gt;&gt;&gt; class example(base):
...   def absmethod(self):
...     print "abstract"
... 
&gt;&gt;&gt; ex = example()
&gt;&gt;&gt; ex.absmethod()
abstract
</pre>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
