{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some basic concepts to write a loop more like Python.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>More Readable Iteration in Python</h3>
<pre class="code python">
# not an elegant way in Python 
&gt;&gt;&gt; l = [1,2,3,4,5]
&gt;&gt;&gt; i=0
&gt;&gt;&gt; while i&lt;len(l):
...   print l[i],
...   i+=1
... 
1 2 3 4 5
# more readable in python
&gt;&gt;&gt; for _idx in range(len(l)):
...   print l[_idx],
... 
1 2 3 4 5
# best
&gt;&gt;&gt; for _item in l:
...   print _item,
... 
1 2 3 4 5
</pre>
<h3>How for loop doing?</h3>
<pre class="code python">
&gt;&gt;&gt; for _i in a:
...   print _i,
... 
1 2 3 4 5
# interpreter will translate into
&gt;&gt;&gt; for _i in a.__iter__():
...   print _i,
... 
1 2 3 4 5
# mean that get iterator from __iter__
# above code can be rewrite as
&gt;&gt;&gt; for _i in iter(a):
...   print _i,
... 
1 2 3 4 5
</pre>
<h3>Be cartful of assign a list to a list</h3>
<pre class="code python">
&gt;&gt;&gt; a = [1,2,3]
&gt;&gt;&gt; b = a
&gt;&gt;&gt; a.append('test')
&gt;&gt;&gt; a
[1, 2, 3, 'test']
&gt;&gt;&gt; b
[1, 2, 3, 'test']

# if don't want this result, doing follow
&gt;&gt;&gt; a = [1,2,3]
&gt;&gt;&gt; # copy list 'a'
... b = list(a)
&gt;&gt;&gt; a.append('test')
&gt;&gt;&gt; a
[1, 2, 3, 'test']
&gt;&gt;&gt; b
[1, 2, 3]
</pre>

<h3>Consume iterable object using iterator next()</h3>
<pre class="code python">
# sometime don't want use for loop
# StopIteration indicate loop finish
&gt;&gt;&gt; a = [1,2,3,4,5]
&gt;&gt;&gt; it = iter(a)
&gt;&gt;&gt; try:
...   while True:
...     print it.next(),
... except StopIteration:
...   pass
... 
1 2 3 4 5
</pre>

<h3>Iterate list - Get List Item</h3>
<pre class="code python">
&gt;&gt;&gt; my_list = [1,2,3,4,5]
&gt;&gt;&gt; for _i in my_list:
...   print _i,
... 
1 2 3 4 5
</pre>
<h3>Iterate string - Get char Item</h3>
<pre class="code python">
&gt;&gt;&gt; my_str = "Hello"
&gt;&gt;&gt; for _s in my_str:
...   print _s,
... 
H e l l o
</pre>
<h3>Iterate dict - Get Keys</h3>
<pre class="code python">
&gt;&gt;&gt; my_dict={'k1':1,'k2':2,'k3':3}
&gt;&gt;&gt; for _d in my_dict:
...   print _d,
... 
k3 k2 k1
</pre>
<h3>Iterate dictionary - Get Values</h3>
<pre class="code python">
&gt;&gt;&gt; my_dict.values()
[3, 2, 1]
&gt;&gt;&gt; for _v in my_dict.values():
...   print _v,
... 
3 2 1

#other way
&gt;&gt;&gt; for _v in my_dict.itervalues():
...   print _v,
... 
3 2 1
</pre>

<h3>Iterate dictionary - Get Keys and Values at The Same Time</h3>
<pre class="code python">
&gt;&gt;&gt; my_dict={'k1':1,'k2':2,'k3':3}
&gt;&gt;&gt; my_dict.items()
[('k3', 3), ('k2', 2), ('k1', 1)]
&gt;&gt;&gt; for _k,_v in my_dict.items():
...   print _k, _v
... 
k3 3
k2 2
k1 1

# other way
&gt;&gt;&gt; for _k,_v in my_dict.iteritems():
...   print _k,_v 
... 
k3 3
k2 2
k1 1
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>How do I get index at the same time?</h3>
<pre class="code python">
&gt;&gt;&gt; l = [1,2,3]
# not a good way in Python
&gt;&gt;&gt; for _i in range(len(l)):
...   print _i, l[_i]
... 
0 1
1 2
2 3
# better way
&gt;&gt;&gt; for _i,_v in enumerate(l):
...   print _i, _v
... 
0 1
1 2
2 3
# enumerate() makes useful pairs
&gt;&gt;&gt; a = ['yo','~','man']
&gt;&gt;&gt; list(enumerate(a))
[(0, 'yo'), (1, '~'), (2, 'man')]
</pre>

<h3>How do I loop over two lists?</h3>
<pre class="code python">
# not a good way in Python
&gt;&gt;&gt; names=['bob','alice']
&gt;&gt;&gt; weights=[60,55]
&gt;&gt;&gt; for _i in range(len(names)):
...   name = names[_i]
...   weight = weights[_i]
...   print name, weight
... 
bob 60
alice 55
# better way - using zip()
&gt;&gt;&gt; for _n,_w in zip(names,weights):
...   print _n,_w
... 
bob 60
alice 55
</pre>
<h3>dict() Accept a stream of pairs</h3>
<pre class="code python">
# transfer between pair list and dict
&gt;&gt;&gt; d={'k3': 3, 'k2': 2, 'k1': 1}
&gt;&gt;&gt; pairs=d.items()
&gt;&gt;&gt; pairs
[('k3', 3), ('k2', 2), ('k1', 1)]
&gt;&gt;&gt; new_d = dict(pairs)
&gt;&gt; new_d
{'k3': 3, 'k2': 2, 'k1': 1}

# other example - zip two list
&gt;&gt;&gt; names=['bob','alice']
&gt;&gt;&gt; weights=[60,55]
&gt;&gt;&gt; dict(zip(name,weights))
{'a': 60, 'l': 55}
</pre>
<h3>Powerful of pair and dict</h3>
<pre class="code python">
# find max value
&gt;&gt;&gt; d={'k3': 3, 'k2': 2, 'k1': 1}
&gt;&gt;&gt; max(d.values())
3

# find max key and value via value
&gt;&gt;&gt; cmp = lambda x: x[1]
&gt;&gt;&gt; max(d.items(),key=cmp)
('k3', 3)

# find the 'key' which has max value
&gt;&gt;&gt; d = {'1':3,'2':2,'3':0}
&gt;&gt;&gt; max(d, key=d.get)
'1'
</pre>

<h3>filter</h3>
<pre class="code python">
# filter list
&gt;&gt;&gt; a = [1,2,3,4,5]
&gt;&gt;&gt; [_ for _ in a if _&gt;3]
[4, 5]
# above expression equivalent to
&gt;&gt;&gt; filter(lambda x: x&gt;3,a)
[4, 5]

# if expression before loop expression 
&gt;&gt;&gt; a = [1,2,3,4,5]
&gt;&gt;&gt; [_ if _ &gt;3 else None for _ in a]
[None, None, None, 4, 5]

# filter dict
&gt;&gt;&gt; a = {'k1':a,'k2':2,'k3':3}
&gt;&gt;&gt; {_k:_v for _k,_v in a.items() if _v&gt;2}
{'k3': 3}
# above expression equivalent to
&gt;&gt;&gt; l=filter(lambda (x,y): y&gt;2, a.items())
&gt;&gt;&gt; l
[('k3', 3)]
&gt;&gt;&gt; dict(l)
{'k3': 3}
</pre>

<h3>How to using __getitem__?</h3>
<pre class="code python">
# enable object "getitem" like list 
&gt;&gt;&gt; class itemobj(object):
...   def __init__(self):
...     self._a = [1,2,3,4,5]
...     self._b = {'k1':1,'k2':2}
...   def __getitem__(self,key):
...     if isinstance(key,slice):
...       print 'slice'
...       return self._a[key]
...     if isinstance(key,int):
...       print 'int'
...       return self._a[key]
...     if isinstance(key,str):
...       print 'str'
...       return self._b[key]
... 
&gt;&gt;&gt; ex = itemobj()
&gt;&gt;&gt; ex[1:-1:2]
slice
[2, 4]
&gt;&gt;&gt; ex[3]
int
4
&gt;&gt;&gt; ex['k2']
str
2
</pre>
<h3>General with Get, Set and Delete item</h3>
<pre class="code python">
&gt;&gt;&gt; class itemobj(object):
...   def __init__(self,):
...     self._a = [1,2,3,4,5]
...     self._b = {'k1':1,'k2':2}
...   def __str__(self):
...     return str(self._a)+str(self._b)
...   def __repr__(self):
...     return str(self._a)+str(self._b)
...   def __getitem__(self,key):
...     if isinstance(key,str):
...       return self._b[key]
...     else:
...       return self._a[key]
...   def __setitem__(self,key,val):
...     if isinstance(key,str):
...       self._b[key] = val
...     else:
...       self._a[key] = val
...   def __delitem__(self,key):
...     if isinstance(key,str):
...       del self._b[key]
...     else:
...       del self._a[key]
... 
&gt;&gt;&gt; ex = itemobj()
&gt;&gt;&gt; ex[1:-1:2]
[2, 4]
&gt;&gt;&gt; ex['k2']
2
&gt;&gt;&gt; ex['k3'] = 3
&gt;&gt;&gt; del ex['k1']
&gt;&gt;&gt; del ex[3]
&gt;&gt;&gt; ex
[1, 2, 3, 5]{'k3': 3, 'k2': 2}
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Make Customized Object Support "in" Expression</h3>
<pre class="code python">
&gt;&gt;&gt; class ObjSupportIn(object):
...   def __init__(self):
...     self._a = [1,2,3,4,5]
...   def __contains__(self, item):
...     if item in self._a:
...       return True
...     return False
... 
&gt;&gt;&gt; ex = ObjSupportIn()
&gt;&gt;&gt; '5' in ex
False
&gt;&gt;&gt; 3 in ex
True
</pre>
<h3>Make Customized Object Iterable</h3>
<pre class="code python">
&gt;&gt;&gt; class iterable(object):
...   def __init__(self):
...     self._a = [1,2,3,4,5]
...   def __iter__(self):
...     return iter(self._a)
...   def __reversed__(self):
...     return reversed(self._a)
... 
&gt;&gt;&gt; it = iterable()
&gt;&gt;&gt; for _ in it:
...   print _,
... 
1 2 3 4 5
&gt;&gt;&gt; for _ in reversed(it):
...   print _,
... 
5 4 3 2 1
# get iterator from iterable obj
&gt;&gt;&gt; it = iter(ex)
&gt;&gt;&gt; it.next()
1
</pre>
<h3>Generator - Keep produce value over and over again</h3>
<pre class="code python">
# using scenario: for saving memory
# saving prime in memory
&gt;&gt;&gt; def prime(n):
...   for _ in range(2,n):
...     if n % _ == 0:
...       break
...   else:
...     return n
...
&gt;&gt;&gt; p = []; n=2
&gt;&gt;&gt; while len(p) &lt; 8:
...   if prime(n):
...     p.append(n)
...   n+=1
...
&gt;&gt;&gt; for _ in p:
...   print _,
... 
2 3 5 7 11 13 17 19

# rewrite by generator: yield expression
&gt;&gt;&gt; def prime():
...   p = 2
...   while True:
...     for _ in range(2,p):
...       if p % _ == 0:
...         break
...     else:
...       yield p
...     p+=1
...
&gt;&gt;&gt; p = prime()
&gt;&gt;&gt; for _ in range(8):
...   print p.next(),
... 
2 3 5 7 11 13 17 19
</pre>

<h3>Implement customized range function via generator</h3>
<pre class="code python">
&gt;&gt;&gt; def frange(start,stop,increment):
...   x = start
...   while x &lt; stop:
...     yield x
...     x += increment
... 
&gt;&gt;&gt; [_ for _ in frange(0,3,0.5)]
[0, 0.5, 1.0, 1.5, 2.0, 2.5]
</pre>

<h3>Implement iterable object via generator</h3>
<pre class="code python">
&gt;&gt;&gt; class countdown(object):
...   def __init__(self,start):
...     self._start = start
...   def __iter__(self):
...     n = self._start
...     while n &gt; 0:
...       yield n
...       n-=1
...   def __reversed__(self):
...     n=1
...     while n &lt; self._start:
...       yield n
...       n+=1
... 
&gt;&gt;&gt; for _ in countdown(10):
...   print _,
... 
10 9 8 7 6 5 4 3 2 1
&gt;&gt;&gt; for _ in reversed(countdown(10)):
...   print _,
... 
1 2 3 4 5 6 7 8 9
</pre>

<h3>Slice Generator via itertools</h3>
<pre class="code python">
# actually, generator cannot be sliced
# need using itertools.islice to slice
&gt;&gt;&gt; def fib(n):
...   a1 = 1; a2 = 1; start = 1
...      while True:
...         for _ in range(start,n-1):
...            tmp = a1+a2
...            a1 = a2
...            a2 = tmp
...         yield a2
...         start = n-1
...         n+=1
&gt;&gt;&gt; from itertools import islice
&gt;&gt;&gt; for _ in islice(f,0,5):
...     print _,
... 
55 89 144 233 377
</pre>

<h3>Generator Delegating</h3>
<pre class="code python">
# using "yield from" (appear in Python3)
# delegating from list
&gt;&gt;&gt; def chain(a,b):
...   yield from a
...   yield from b
... 
&gt;&gt;&gt; for _ in chain(a,b):
...   print(_, end=" ")
... 
1 2 3 4 5 6 &gt;&gt;&gt;

# delegating from other generator
&gt;&gt;&gt; def countdown(n):
...   while n&gt;0:
...     yield n
...     n-=1
... 
&gt;&gt;&gt; def delegate(n):
...   yield from countdown(n)
... 
&gt;&gt;&gt; for _ in delegate(5):
...   print(_, end=" ")
... 
5 4 3 2 1 &gt;&gt;&gt;
</pre>

</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
