{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Sqlalchemy Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some basic concept for Python programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Sqlalchemy Support DBAPI - PEP249</h3>
<pre class="code python">
from sqlalchemy import create_engine 

db_uri = "sqlite:///db.sqlite"
engine = create_engine(db_uri)

# DBAPI - PEP249
# create table
engine.execute('CREATE TABLE "EX1" ('
               'id INTEGER NOT NULL,' 
               'name VARCHAR, '
               'PRIMARY KEY (id)'
               ');')
# insert a raw
engine.execute('INSERT INTO "EX1" '
               '(id, name) '
               'VALUES (1,"raw1")')

# select *
result = engine.execute('SELECT * FROM '
                        '"EX1"')
for _r in result:
   print _r

# delete *
engine.execute('DELETE from "EX1"'
               'where id=1;')
result = engine.execute('SELECT * FROM '
                        '"EX1"')
print result.fetchall()

# bash&gt; python ex.py
# (1, u'raw1')
# []
</pre>
<h3>Transaction and Connect Object</h3>
<pre class="code python">
from sqlalchemy import create_engine

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

# Create connection
conn = engine.connect()
# Begin transaction
trans = conn.begin()
conn.execute('INSERT INTO "EX1" (name) '
             'VALUES ("Hello")')
trans.commit()
# Close connection
conn.close()
</pre>

<h3>Metadata - Generating Database Schema</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

# Create a metadata instance
metadata = MetaData(engine)
# Declare a table
table = Table('Example',metadata,
              Column('id',Integer,
                     primary_key=True),
              Column('name',String))
# Create all tables
metadata.create_all()
for _t in metadata.tables:
   print "Table: ", _t

# bash&gt; ex.py
# Table:  Example
</pre>

<h3>Inspect - Get Database Information</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import inspect

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

inspector = inspect(engine)

# Get table information
print inspector.get_table_names()

# Get column information
print inspector.get_columns('EX1')
</pre>



<h3>Reflection - Loading Table from Existing Database</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table 

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

# Create a MetaData instance
metadata = MetaData()
print metadata.tables

# reflect db schema to MetaData
metadata.reflect(bind=engine)
print metadata.tables
</pre>

<h3>Get Table from MetaData</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

# Create MetaData instance
metadata = MetaData(engine, reflect=True)
print metadata.tables

# Get Table
ex_table = metadata.tables['Example'] 
print ex_table
</pre>
<h3>Create all Tables Store in "MetaData"</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)
meta = MetaData(engine)

# Register t1, t2 to metadata
t1 = Table('EX1', meta,
           Column('id',Integer,
                   primary_key=True),
           Column('name',String))

t2 = Table('EX2', meta,
           Column('id',Integer,
                   primary_key=True),
           Column('val',Integer))
# Create all tables in meta
meta.create_all()

# bash&gt; sqlite3 db.sqlite
# sqlite &gt; .schema
# CREATE TABLE "EX1" (
# 	 id INTEGER NOT NULL, 
#	 name VARCHAR, 
#	 PRIMARY KEY (id)
# );
# CREATE TABLE "EX2" (
#	 id INTEGER NOT NULL, 
#	 val INTEGER, 
#	 PRIMARY KEY (id)
# );
</pre>
<h3>Create Specific Table</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

meta = MetaData(engine)
t1 = Table('Table_1', meta,
           Column('id', Integer, 
                  primary_key=True),
           Column('name',String))
t2 = Table('Table_2', meta,
           Column('id', Integer,
                  primary_key=True),
           Column('val',Integer))
t1.create()

# bash&gt; sqlite3 db.sqlite
# sqlite&gt; .schema
# CREATE TABLE "Table_1" (
# 	 id INTEGER NOT NULL, 
#	 name VARCHAR, 
#	 PRIMARY KEY (id)
# );
</pre>
<h3>Some Table Object Operation</h3>
<pre class="code python">
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String

meta = MetaData()
t = Table('ex_table', meta,
          Column('id', Integer,
                 primary_key=True),
          Column('key', String),
          Column('val', Integer))
# Get Table Name
print t.name

# Get Columns
print t.columns.keys()

# Get Column
c = t.c.key
print c.name
# Or
c = t.columns.key
print c.name

# Get Table from Column
print c.table
# bash&gt; python ex.py
# ex_table
# ['id', 'key', 'val']
# key
# key
# ex_table
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>SQL Expression Language</h3>
<pre class="code python">
# Think Column as "ColumnElement"
# Implement via overwrite special function
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String
from sqlalchemy import or_

meta = MetaData()
table = Table('example', meta,
              Column('id', Integer,
                 primary_key=True),
              Column('l_name', String),
              Column('f_name', String))
# sql expression binary object 
print repr(table.c.l_name == 'ed')
# exhbit sql expression
print str(table.c.l_name == 'ed')

print repr(table.c.f_name != 'ed')

# comparsion operator
print repr(table.c.id &gt; 3)

# or expression
print (table.c.id &gt; 5) | (table.c.id &lt; 2)
# Equal to
print or_(table.c.id &gt; 5, table.c.id &lt; 2)

# compare to None produce IS NULL 
print (table.c.l_name == None)
# Equal to
print (table.c.l_name.is_(None))

# + means "addition"
print (table.c.id + 5)
# or means "string concatenation"
print (table.c.l_name + "some name")

# in expression
print (table.c.l_name.in_(['a','b']))

# bash&gt; python ex.py
# &lt;sqlalchemy.sql.elements.Binary ...
# example.l_name = :l_name_1
# &lt;sqlalchemy.sql.elements.Binary ...
# &lt;sqlalchemy.sql.elements.Binary ...
# example.id &lt; :id_1 OR example.id &lt; :id_2
# example.id &lt; :id_1 OR example.id &lt; :id_2
# example.l_name IS NULL
# example.l_name IS NULL
# example.id + :id_1
# example.l_name || :l_name_1
# example.l_name IN (:l_name_1, :l_name_2)
</pre>

<h3>insert() - Create an "INSERT" Statement</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer
from sqlalchemy import String

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

# create table
meta = MetaData(engine)
table = Table('user', meta, 
   Column('id', Integer, 
           primary_key=True),
   Column('l_name', String),
   Column('f_name', String))
meta.create_all()

# insert data via insert() construct
ins = table.insert().values(
      l_name='Hello',
      f_name='World')
conn = engine.connect()
conn.execute(ins)

# insert multiple data
conn.execute(table.insert(),[
   {'l_name':'Hi','f_name':'bob'},
   {'l_name':'yo','f_name':'alice'}
])
</pre>

<h3>select() - Create a "SELECT" Statement</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import select
from sqlalchemy import or_

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)
conn = engine.connect()

meta = MetaData(engine,reflect=True)
table = meta.tables['user']

# select * from 'user'
select_st = select([table]).where(
   table.c.l_name == 'Hello') 
res = conn.execute(select_st) 
for _row in res:
   print _row

# or equal to
select_st = table.select().where(
   table.c.l_name == 'Hello')
res = conn.execute(select_st) 
for _row in res:
   print _row

# combine with "OR"
select_st = select([
   table.c.l_name, 
   table.c.f_name]).where(or_(
      table.c.l_name == 'Hello',
      table.c.l_name == 'Hi'
   ))
res = conn.execute(select_st)
for _row in res:
   print _row

# combine with "ORDER_BY"
select_st = select([table]).where(or_(
      table.c.l_name == 'Hello',
      table.c.l_name == 'Hi'
   )).order_by(table.c.f_name)
res = conn.execute(select_st)
for _row in res:
   print _row

# bash&gt; python ex.py
# (1, u'Hello', u'World')
# (1, u'Hello', u'World')
# (u'Hello', u'World')
# (u'Hi', u'bob')
# (1, u'Hello', u'World')
# (4, u'Hi', u'bob')
</pre>

<h3>join() - Joined Two Tables via "JOIN" Statement</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer
from sqlalchemy import String
from sqlalchemy import select

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)

meta = MetaData(engine, reflect=True)
email_t = Table('email_addr', meta,
      Column('id', Integer,
         primary_key=True),
      Column('email',String),
      Column('name',String))
meta.create_all()

# get user table
user_t = meta.tables['user']

# insert
conn = engine.connect()
conn.execute(email_t.insert(),[
   {'email':'ker@test','name':'Hi'},
   {'email':'yo@test','name':'Hello'}
])
# join statement
join_obj = user_t.join(email_t,
   email_t.c.name == user_t.c.l_name   
)
# using select_from
sel_st = select(
   [user_t.c.l_name, email_t.c.email]
).select_from(join_obj)
res = conn.execute(sel_st)
for _row in res:
   print _row

# bash&gt; python ex.py
# (u'Hello', u'yo@test')
# (u'Hi', u'ker@test')
</pre>
<h3>Delete Rows from Table</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)
conn = engine.connect()

meta = MetaData(engine, reflect=True)
user_t = meta.tables['user']

# select * from user_t
sel_st = user_t.select()
res = conn.execute(sel_st)
for _row in res:
   print _row

# delete l_name == 'Hello'
del_st = user_t.delete().where(
      user_t.c.l_name == 'Hello')
print '----- delete -----'
res = conn.execute(del_st)

# check rows has been delete
sel_st = user_t.select()
res = conn.execute(sel_st)
for _row in res:
   print _row

# bash&gt; python ex.py
# (1, u'Hello', u'World')
# (2, u'Hi', u'bob')
# (3, u'yo', u'alice')
# ----- delete -----
# (2, u'Hi', u'bob')
# (3, u'yo', u'alice')
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Check Table Existing</h3>
<pre class="code python">
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Column
from sqlalchemy import Integer, String
from sqlalchemy import inspect
from sqlalchemy.ext.declarative \
                import declarative_base

Modal = declarative_base()
class Example(Modal):
   __tablename__ = "ex_t"
   id = Column(Integer, primary_key=True)
   name = Column(String(20))

db_uri = 'sqlite:///db.sqlite'
engine = create_engine(db_uri)
Modal.metadata.create_all(engine)

# check register table exist to Modal
for _t in Modal.metadata.tables:
   print _t

# check all table in database
print '----------'
meta = MetaData(engine, reflect=True)
for _t in meta.tables:
   print _t

# check table names exists via inspect
print '----------'
ins = inspect(engine)
for _t in ins.get_table_names():
   print _t

# bash&gt; python ex.py
# ex_t
# ----------
# user
# ex_t
# ----------
# ex_t
# user
</pre>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
