{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Cheat Sheet</h1>
   <p>Cheat sheet of Python. Some concepts of generator for a Python programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Using generator to produce value</h3>
<pre class="code python">
&gt;&gt;&gt; def prime(n):
...   p = 2
...   while n &gt; 0:
...     for _ in range(2,p):
...       if p % _ == 0:
...         break
...     else:
...       yield p
...       n-=1
...     p+=1
...
&gt;&gt;&gt; p = prime(3)
&gt;&gt;&gt; next(p)
2
&gt;&gt;&gt; next(p)
3
&gt;&gt;&gt; 
&gt;&gt;&gt; next(p)
5
&gt;&gt;&gt; next(p)
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
StopIteration
&gt;&gt;&gt; for _ in prime(5):
...   print(_, end=" ")
... 
2 3 5 7 11 &gt;&gt;&gt;
</pre>
<h3>Implement iterable object via generator</h3>
<pre class="code python">
&gt;&gt;&gt; class count(object):
...   def __init__(self,n):
...     self._n = n
...   def __iter__(self):
...     n = self._n
...     while n&gt;0:
...       yield n
...       n-=1
...   def __reversed__(self):
...     n = 0
...     while n&lt;self._n:
...       yield n
...       n+=1
... 
&gt;&gt;&gt; for _ in count(5):
...   print(_, end=" ")
... 
5 4 3 2 1 &gt;&gt;&gt; 
&gt;&gt;&gt; for _ in reversed(count(5)):
...   print(_, end=" ")
... 
0 1 2 3 4 &gt;&gt;&gt;
</pre>

<h3>Send message to generator</h3>
<pre class="code python">
&gt;&gt;&gt; def spam():
...   msg = yield
...   print("Message:",msg)
... 
&gt;&gt;&gt; try:
...   g = spam()
...   # start generator
...   next(g)
...   # send message to generator
...   g.send("Hello World!")
... except StopIteration:
...   pass
... 
Message: Hello World!
</pre>

<h3>"yield from" expression</h3>
<pre class="code python">
# delegating gen do nothing(pipe)
&gt;&gt;&gt; def subgen():
...     try:
...         yield 9527
...     except ValueError:
...         print("get value error")
... 
&gt;&gt;&gt; def delegating_gen():
...     yield from subgen()
...
&gt;&gt;&gt; g = delegating_gen()
&gt;&gt;&gt; try: 
...     next(g)
...     g.throw(ValueError)
... except StopIteration:
...     print("gen stop")
... 
9527
get value error
gen stop

# yield from + yield from
&gt;&gt;&gt; import inspect
&gt;&gt;&gt; def subgen():
...     yield from range(5)
... 
&gt;&gt;&gt; def delegating_gen():
...     yield from subgen()
... 
&gt;&gt;&gt; g = delegating_gen()
&gt;&gt;&gt; inspect.getgeneratorstate(g)
'GEN_CREATED'
&gt;&gt;&gt; next(g)
0
&gt;&gt;&gt; inspect.getgeneratorstate(g)
'GEN_SUSPENDED'
&gt;&gt;&gt; g.close()
&gt;&gt;&gt; inspect.getgeneratorstate(g)
'GEN_CLOSED'
</pre>

<h3>yield (from) EXPR return RES</h3>
<pre class="code python">
&gt;&gt;&gt; def average():
...     total = .0
...     count = 0
...     avg = None
...     while True:
...         val = yield 
...         if not val:
...             break
...         total += val
...         count += 1
...         avg = total / count
...     return avg
... 
&gt;&gt;&gt; g = average()
&gt;&gt;&gt; g = average()
&gt;&gt;&gt; next(g) # start gen
&gt;&gt;&gt; g.send(3)
&gt;&gt;&gt; g.send(5)
&gt;&gt;&gt; try:
...     g.send(None)
... except StopIteration as e:
...     ret = e.value
... 
&gt;&gt;&gt; ret
4.0

# yield from EXP return RES
&gt;&gt;&gt; def subgen():
...     yield 9527
... 
&gt;&gt;&gt; def delegating_gen():
...     yield from subgen()
...     return 5566
...
&gt;&gt;&gt; try:
...     g = delegating_gen()
...     next(g)
...     next(g)
... except StopIteration as _e:
...     print(_e.value)
... 
9527
5566
</pre>

<h3>Generate sequences via generator</h3>
<pre class="code python">
# get a list via generator
&gt;&gt;&gt; def chain():
...     for _ in 'ab':
...         yield _
...     for _ in range(3):
...         yield _
... 
&gt;&gt;&gt; a = list(chain())
&gt;&gt;&gt; a
['a', 'b', 0, 1, 2]
# equivalent to 
&gt;&gt;&gt; def chain():
...     yield from 'ab'
...     yield range(3)
...
&gt;&gt;&gt; a = list(chain())
&gt;&gt;&gt; a
['a', 'b', range(0, 3)]
</pre>

<h3>What "RES = yield from EXP" actually do?</h3>
<pre class="code python">
# ref: <a href="https://www.python.org/dev/peps/pep-0380">pep380</a>
&gt;&gt;&gt; def subgen():
...     for _ in range(3):
...         yield _
... 
&gt;&gt;&gt; EXP = subgen()
&gt;&gt;&gt; def delegating_gen():
...   _i = iter(EXP)
...   try:
...     _y = next(_i)
...   except StopIteration as _e:
...     RES = _e.value
...   else:
...     while True:
...       _s = yield _y
...       try:
...         _y = _i.send(_s)
...       except StopIteration as _e:
...           RES = _e.value
...           break
... 
&gt;&gt;&gt; g = delegating_gen()
&gt;&gt;&gt; next(g)
0
&gt;&gt;&gt; next(g)
1
&gt;&gt;&gt; next(g)
2

# equivalent to
&gt;&gt;&gt; EXP = subgen()
&gt;&gt;&gt; def delegating_gen():
...     RES = yield from EXP
... 
&gt;&gt;&gt; g = delegating_gen()
&gt;&gt;&gt; next(g)
0
&gt;&gt;&gt; next(g)
1
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Glossary of Generator</h3>
<pre class="code python">
# generator function
&gt;&gt;&gt; def gen_func():
...     yield 5566
... 
&gt;&gt;&gt; gen_func
&lt;function gen_func at 0x1019a&gt;
# generator
&gt;&gt;&gt; g = gen_func()
&gt;&gt;&gt; g
&lt;generator object gen_func at 0x1018d&gt;
&gt;&gt;&gt; next(g)
5566
&gt;&gt;&gt; next(g)
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
StopIteration
# generator expression
&gt;&gt;&gt; g = (_ for _ in range(2))
&gt;&gt;&gt; g
&lt;generator object &lt;genexpr&gt; at 0x10191&gt;
&gt;&gt;&gt; next(g)
0
&gt;&gt;&gt; next(g)
1
&gt;&gt;&gt; next(g)
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
StopIteration
</pre>

<h3>Check generator type</h3>
<pre class="code python">
&gt;&gt;&gt; from types import GeneratorType
&gt;&gt;&gt; def gen_func():
...     yield 5566
... 
&gt;&gt;&gt; g = gen_func()
&gt;&gt;&gt; isinstance(g, GeneratorType)
True
&gt;&gt;&gt; isinstance(123, GeneratorType)
False
</pre>

<h3>Check Generator State</h3>
<pre class="code python">
&gt;&gt;&gt; import inspect
&gt;&gt;&gt; def gen_func():
...     yield 9527
... 
&gt;&gt;&gt; g = gen_func()
&gt;&gt;&gt; inspect.getgeneratorstate(g)
'GEN_CREATED'
&gt;&gt;&gt; next(g)
9527
&gt;&gt;&gt; inspect.getgeneratorstate(g)
'GEN_SUSPENDED'
&gt;&gt;&gt; g.close()
&gt;&gt;&gt; inspect.getgeneratorstate(g)
'GEN_CLOSED'
</pre>

<h3>generator and contextmanager</h3>
<pre class="code python">
&gt;&gt;&gt; import contextlib
&gt;&gt;&gt; @contextlib.contextmanager
... def mylist():
...   try:
...     l = [1,2,3,4,5]
...     yield l
...   finally:
...     print("exit scope")
... 
&gt;&gt;&gt; with mylist() as l:
...   print(l)
... 
[1, 2, 3, 4, 5]
exit scope
</pre>

<h3>What @contextmanager actually doing?</h3>
<pre class="code python">
# ref: <a href="https://www.youtube.com/watch?v=5-qadlG7tWo">PyCon 2014 - David Beazley</a>
# define a context manager class
class GeneratorCM(object):
   def __init__(self,gen):
      self._gen = gen
   def __enter__(self):
      return next(self._gen)

   def __exit__(self, *exc_info):
      try:
         if exc_info[0] is None:
            next(self._gen)
         else:
            self._gen.throw(*exc_info)
         raise RuntimeError
      except StopIteration:
         return True
      except:
         raise
            
# define a decorator
def contextmanager(func):
   def run(*a, **k):
      return GeneratorCM(func(*a, **k))
   return run

# example of context manager
@contextmanager
def mylist():
   try:
      l=[1,2,3,4,5]
      yield l
   finally:
      print "exit scope"

with mylist() as l:
   print l

# bash&gt; python example.py 
# [1, 2, 3, 4, 5]
# exit scope
</pre>

<h3>'yield from' and '__iter__'</h3>
<pre class="code python">
&gt;&gt;&gt; class FakeGen:
...     def __iter__(self):
...         n = 0
...         while True:
...             yield n
...             n += 1
...     def __reversed(self):
...         n = 9527
...         while True:
...            yield n 
...            n -= 1
... 
&gt;&gt;&gt; def spam():
...     yield from FakeGen()
... 
&gt;&gt;&gt; s = spam()
&gt;&gt;&gt; next(s)
0
&gt;&gt;&gt; next(s)
1
&gt;&gt;&gt; next(s)
2
&gt;&gt;&gt; next(s)
3
&gt;&gt;&gt; def reversed_spam():
...     yield from reversed(FakeGen())
... 
&gt;&gt;&gt; g = reversed_spam()
&gt;&gt;&gt; next(g)
9527
&gt;&gt;&gt; next(g)
9526
&gt;&gt;&gt; next(g)
9525
</pre>

<h3>"yield from == await" expression</h3>
<pre class="code python">
# "await" include in pyhton3.5
import asyncio
import socket

# set socket and event loop
loop = asyncio.get_event_loop()
host = 'localhost'
port = 5566
sock = socket.socket(
        socket.AF_INET,
        socket.SOCK_STREAM,0)
sock.setsockopt(
        socket.SOL_SOCKET,
        socket.SO_REUSEADDR,1)
sock.setblocking(False)
sock.bind((host, port))
sock.listen(10)

@asyncio.coroutine
def echo_server():
    while True:
        conn, addr = yield from \
            loop.sock_accept(sock)
        loop.create_task(handler(conn))

@asyncio.coroutine
def handler(conn):
    while True:
        msg = yield from \
            loop.sock_recv(conn, 1024)
        if not msg:
            break
        yield from \
            loop.sock_sendall(conn, msg)
    conn.close()

# equal to
async def echo_server():
    while True:
        conn, addr = await \
            loop.sock_accept(sock)
        loop.create_task(handler(conn))

async def handler(conn):
    while True:
        msg = await \
            loop.sock_recv(conn, 1024)
        if not msg:
            break
        await \
            loop.sock_sendall(conn, msg)
    conn.close()

loop.create_task(echo_server())
loop.run_forever()

# output:
# bash1&gt; python asyncio_test.py
# bash2&gt; nc localhost 5566
# Hello
# Hello
# bash3&gt; nc localhost 5566
# World
# World
</pre>

</div>

<div class="row col-md-4 col-xs-12">

<h3>Closure in Python - using generator</h3>
<pre class="code python">
# nonlocal version
&gt;&gt;&gt; def closure():
...     x = 5566
...     def inner_func():
...         nonlocal x
...         x += 1
...         return x
...     return inner_func
... 
&gt;&gt;&gt; c = closure()
&gt;&gt;&gt; c()
5567
&gt;&gt;&gt; c()
5568
&gt;&gt;&gt; c()
5569

# class version
&gt;&gt;&gt; class Closure:
...     def __init__(self):
...         self._x = 5566
...     def __call__(self):
...         self._x += 1
...         return self._x
... 
&gt;&gt;&gt; c = Closure()
&gt;&gt;&gt; c()
5567
&gt;&gt;&gt; c()
5568
&gt;&gt;&gt; c()
5569

# generator version (best)
&gt;&gt;&gt; def closure_gen():
...     x = 5566
...     while True:
...         x += 1
...         yield x
... 
&gt;&gt;&gt; g = closure_gen()
&gt;&gt;&gt; next(g)
5567
&gt;&gt;&gt; next(g)
5568
&gt;&gt;&gt; next(g)
5569
</pre>

<h3>Implement a simple scheduler via generator</h3>
<pre class="code python">
# idea: write an event loop(scheduler)
&gt;&gt;&gt; def fib(n):
...   if n&lt;=2:
...     return 1
...   return fib(n-1)+fib(n-2)
... 
&gt;&gt;&gt; def g_fib(n):
...   for _ in range(1,n+1):
...     yield fib(_)
... 
&gt;&gt;&gt; from collections import deque
&gt;&gt;&gt; t = [g_fib(3),g_fib(5)]
&gt;&gt;&gt; q = deque()
&gt;&gt;&gt; q.extend(t)
&gt;&gt;&gt; def run():
...   while q:
...     try:
...       t = q.popleft()
...       print(next(t))
...       q.append(t)
...     except StopIteration:
...       print("Task done")
... 
&gt;&gt;&gt; run()
1
1
1
1
2
2
Task done
3
5
Task done
</pre>

<h3>Implement Simple round-robin with blocking</h3>
<pre class="code python">
# ref: <a href="https://www.youtube.com/watch?v=MCs5OvhV9S4">PyCon 2015 - David Beazley</a>
# skill: using task and wait queue
from collections import deque
from select import select
import socket

tasks = deque()
w_read = {}
w_send = {}

def run():
   while any([tasks,w_read,w_send]):
      while not tasks:
         # polling tasks
         can_r,can_s,_ = select(
               w_read,w_send,[])
         for _r in can_r:
            tasks.append(w_read.pop(_r))
         for _w in can_s:
            tasks.append(w_send.pop(_w))
      try:
         task = tasks.popleft()
         why,what = next(task)
         if why == 'recv':
            w_read[what] = task 
         elif why == 'send':
            w_send[what] = task 
         else:
            raise RuntimeError
      except StopIteration:
         pass

def server():
   host = ('localhost',5566)
   sock = socket.socket(
         socket.AF_INET,
         socket.SOCK_STREAM)
   sock.setsockopt(
         socket.SOL_SOCKET,
         socket.SO_REUSEADDR,1)
   sock.bind(host)
   sock.listen(5)
   while True:
      # tell scheduler want block
      yield 'recv', sock 
      conn,addr = sock.accept()
      tasks.append(client_handler(conn))

def client_handler(conn):
   while True:
      # tell scheduler want block
      yield 'recv', conn
      msg = conn.recv(1024)
      if not msg:
         break
      # tell scheduler want block
      yield 'send', conn
      conn.send(msg)
   conn.close()

tasks.append(server())
run()
</pre>

<h3>Implement simple round-robin with blocking and non-blocking</h3>
<pre class="code pythob">
# this method will cause blocking hunger
from collections import deque
from select import select
import socket

tasks = deque()
w_read = {}
w_send = {}

def run():
   while any([tasks,w_read,w_send]):
      while not tasks:
         # polling tasks
         can_r,can_s,_ = select(
               w_read,w_send,[])
         for _r in can_r:
            tasks.append(w_read.pop(_r))
         for _w in can_s:
            tasks.append(w_send.pop(_w))
      try:
         task = tasks.popleft()
         why,what = next(task)
         if why == 'recv':
            w_read[what] = task 
         elif why == 'send':
            w_send[what] = task 
         elif why == 'continue':
            print what
            tasks.append(task)
         else:
            raise RuntimeError
      except StopIteration:
         pass

def fib(n):
   if n&lt;=2:
      return 1
   return fib(n-1)+fib(n-2)

def g_fib(n):
   for _ in range(1,n+1):
      yield 'continue', fib(_)
tasks.append(g_fib(15))

def server():
   host = ('localhost',5566)
   sock = socket.socket(
         socket.AF_INET,
         socket.SOCK_STREAM)
   sock.setsockopt(
         socket.SOL_SOCKET,
         socket.SO_REUSEADDR,1)
   sock.bind(host)
   sock.listen(5)
   while True:
      yield 'recv', sock 
      conn,addr = sock.accept()
      tasks.append(client_handler(conn))

def client_handler(conn):
   while True:
      yield 'recv', conn
      msg = conn.recv(1024)
      if not msg:
         break
      yield 'send', conn
      conn.send(msg)
   conn.close()

tasks.append(server())
run()
</pre>
</div>

{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
