{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Python Design Pattern in C</h1>
   <p>Below code blocks are not all suitable for C but hoping to inspire your idea.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Decorator in C</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&Gt; def decorator(func):
...     def wrapper(*args, **kwargs):
...         print("I am decorator")
...         ret = func(*args, **kwargs)
...         return ret
...     return wrapper
...
&gt;&gt;&gt; @decorator
... def hello(str):
...     print("Hello {0}".format(str))
... 
&gt;&gt;&gt; @decorator
... def add(a,b):
...     print("add %d+%d=%d" % (a,b,a+b))
...     return a+b
... 
&gt;&gt;&gt; hello("KerKer")
I am decorator
Hello KerKer
&gt;&gt;&gt; add(1,2)
I am decorator
add 1+2=3
3
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;

#define DECORATOR(t, f, declar, input) \
   t decor_##f(declar) { \
      printf("I am decorator\n"); \
      return f(input);\
   }
#define FUNC_DEC(func, ...) \
   decor_##func(__VA_ARGS__)

// Original function
void hello(char *str) {
   printf("Hello %s\n", str);
}

int add(int a, int b) {
   printf("add %d + %d = %d\n",a,b,a+b);
   return a+b;
}
// Patch function
#define DECLAR    char *str
#define INPUT     str
DECORATOR(void, hello, DECLAR, INPUT)
#undef DECLAR
#undef INPUT

#define DECLAR    int a, int b
#define INPUT     a,b 
DECORATOR(int, add, DECLAR, INPUT)
#undef DECLAR
#undef INPUT

int main(int argc, char *argv[]) {
   FUNC_DEC(hello, "KerKer");
   FUNC_DEC(add,1,2);

   return 0;
}
# bash&gt; gcc example.c
# bash&gt; ./a.out
# I am decorator
# Hello KerKer
# I am decorator
# add 1 + 2 = 3
</pre>

<h3>A Set of Functions</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; def func_1():
...     print "Hello"
... 
&gt;&gt;&gt; def func_2():
...     print "World"
... 
&gt;&gt;&gt; def func_3():
...     print "!!!"
... 
&gt;&gt;&gt; s = [func_1,func_2,func_3]
&gt;&gt;&gt; for _ in s: _()
... 
Hello
World
!!!
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;

typedef void (*func)(void);

enum func_id{
   FUNC_1,FUNC_2,FUNC_3
};

void func_1() {
   printf("Hello ");
}
void func_2() {
   printf("World ");
}
void func_3() {
   printf("!!!\n");
}

func gFuncTable[] = {
   func_1,func_2,func_3
};

int main(int argc, char *argv[]) {
   gFuncTable[FUNC_1]();
   gFuncTable[FUNC_2]();
   gFuncTable[FUNC_3]();

   return 0;
}
</pre>

<h3>Closure in C</h3>
<h5>Python</h5>
<pre class="code python">
# implement via __call__
&gt;&gt;&gt; class closure(object):
...     def __init__(self):
...         self.val = 5566
...     def __call__(self,var):
...         self.val += var
... 
&gt;&gt;&gt; c = closure()
&gt;&gt;&gt; c(9527)
&gt;&gt;&gt; print c.val
15093
# using "global" keyword 
&gt;&gt;&gt; x = 0
&gt;&gt;&gt; def closure(val):
...     def wrapper():
...         global x 
...         x += val
...         print x
...     wrapper()
... 
&gt;&gt;&gt; closure(5566)
5566
&gt;&gt;&gt; closure(9527)
15093
# using "nonlocal" (only in python3)
&gt;&gt;&gt; def closure(val):
...     x = 0
...     def wrapper():
...         nonlocal x
...         x += val
...         print(x)
...     wrapper()
... 
&gt;&gt;&gt; closure(5566)
5566
&gt;&gt;&gt; closure(9527)
9527
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct Closure {
   int val;
   void (*add) (struct Closure **, int);
}closure;

void add_func(closure **c, int var) {
   (*c)-&gt;val += var;
}

int main(int argc, char *argv[]) {
   closure *c = NULL;
   c = malloc(sizeof(closure));
   c-&gt;val = 5566;
   c-&gt;add = add_func;
   c-&gt;add(&c,9527);
   printf("result: %d\n",c-&gt;val);

   return 0;
}
</pre>
</div>

<div class="row col-md-4 col-xs-12">
<h3>Generator</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; def gen():
...     var = 0
...     while True:
...         var += 1
...         yield var
...
&gt;&gt;&gt; g = gen()
&gt;&gt;&gt; for _ in range(3):
...     print next(g),
... 
1 2 3
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

struct gen {
   int (*next) (struct gen *);
   int var;
};

int next_func(struct gen *g) {
   printf("var = %d\n",g-&gt;var);
   g-&gt;var +=1;
   return g-&gt;var;
}

struct gen * new_gen() {
   struct gen *g = NULL;
   g = (struct gen*) 
         malloc(sizeof(struct gen));
   g-&gt;var = 0;
   g-&gt;next = next_func;
   return g;
}

int main(int argc, char *argv[]) {
   struct gen *g = new_gen();
   int i = 0;
   for (i=0;i&lt;3;i++) {
      printf("gen var = %d\n",g-&gt;next(g));
   }
   return 0;
}
</pre>
<h3>Context Manager in C</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; class CtxManager(object):
...     def __enter__(self):
...         self._attr = "KerKer"
...         return self._attr
...     def __exit__(self,*e_info):
...         del self._attr
... 
&gt;&gt;&gt; with CtxManager() as c:
...     print c
... 
KerKer
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

#define ENTER(type,ptr,len) \
   printf("enter context manager\n");\
   ptr = malloc(sizeof(type)*len);\
   if (NULL == ptr) { \
      printf("malloc get error\n");\
      goto exit;\
   }\

#define EXIT(ptr) \
exit:\
   printf("exit context manager\n");\
   if (NULL != ptr) {\
      free(ptr);\
      ptr = NULL;  \
   }\

#define CONTEXT_MANAGER(t, p, l,...){\
   ENTER(t,p,l)\
   __VA_ARGS__ \
   EXIT(p)\
}

int main(int argc, char *argv[]) {
   char *ptr;
   CONTEXT_MANAGER(char, ptr, 128,
      sprintf(ptr, "Hello World");  
      printf("%s\n",ptr);
   );
   printf("ptr = %s\n",ptr);
   return 0;
}
</pre>

<h3>Tuple in C</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; a = ("Hello","World",123)
&gt;&gt;&gt; for _ in a: print _,
... 
Hello World 123
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;

int main(int argc, char *argv[]) {
   int a = 123;
   void * const x[4] = {"Hello",
                        "World",&a};
   printf("%s %s, "
     "%d\n",x[0],x[1],*(int *)x[2]);
   return 0;
}
</pre>

<h3>Error Handling</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; import os
&gt;&gt;&gt; def spam(a,b):
...     try:
...         os.listdir('.')
...     except OSError:
...         print "listdir get error"
...         return
...     try:
...         a/b
...     except ZeroDivisionError:
...         print "zero division"
...         return
... 
&gt;&gt;&gt; spam(1,0)
zero division
# single exit -&gt; using decorator
&gt;&gt;&gt; import time
&gt;&gt;&gt; def profile(func):
...     def wrapper(*args, **kwargs):
...         s = time.time()
...         ret = func(*args, **kwargs)
...         e = time.time()
...         print e - s
...         return ret
...     return wrapper
...
&gt;&gt;&gt; @profile
... def spam(a,b):
...     try:
...         os.listdir('.')
...     except OSError:
...         return
...     try:
...         a/b
...     except ZeroDivisionError:
...         return
... 
&gt;&gt;&gt; spam(1,0)
0.000284910202026
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;

int main(int argc, char *argv[]) {
   int ret = -1;
   char *ptr;
   ptr = malloc(sizeof(char)*128);
   if (NULL == ptr) {
      perror("malloc get error");
      goto exit;
   }
   strcpy(ptr,"KerKer");
   printf("%s\n", ptr);
   ret = 0;
exit:
   if (ptr) {
      free(ptr);
      ptr = NULL;
   } 
   return ret;
}
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Keyword Arguments in C</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; def f(str_, float_,int_=0):
...     print(str_, float_, int_)
... 
&gt;&gt;&gt; f("KerKer",2.0,2)
KerKer 2.0 2
&gt;&Gt;&Gt; f("HaHa",3.)
HaHa 3.0 0
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;

#define FUNC(...) \
   base_func((struct input ){ \
     .var=0, ##__VA_ARGS__});

struct input {
   char *str;
   int var;
   double dvar;
};

void base_func(struct input in){
   printf("str = %s, var = %d" 
      ", dvar = %lf\n",
      in.str, in.var,in.dvar);
}

int main(int argc, char *argv[]) {
   FUNC(.str="KerKer", 2.0);
   FUNC(2, .str="KerKer");
   FUNC(.var=10, .dvar=2.0, .str="HAHA");
   return 0;
}
</pre>

<h3>Function "MAP"</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; x = [1,2,3,4,5]
&gt;&gt;&gt; y = map(lambda x:2*x, x)
&gt;&gt;&gt; print y
[2, 4, 6, 8, 10]
#or
&gt;&gt;&gt; x = [1,2,3,4,5]
&gt;&gt;&gt; y = [2*_ for _ in x]
&gt;&gt;&gt; print y
[2, 4, 6, 8, 10]
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;

#define MAP(func, src, dst, len) \
   do {\
      unsigned i=0;\
      for(i=0; i&lt;len; i++) {\
         dst[i] = func(src[i]);\
      }\
   }while(0);

int multi2(int a) {
   return 2*a;
}

int main(int argc, char *argv[]) {
   int x[] = {1,2,3,4,5};
   int y[5] = {0};
   int i = 0;

   MAP(multi2, x, y, 5);
   for(i=0;i&lt;5;i++) {
      printf("%d ",y[i]);
   }
   printf("\n");
}
</pre>

<h3>foreach in C</h3>
<h5>Python</h5>
<pre class="code python">
&gt;&gt;&gt; x = ["Hello","World","!!!"]
&gt;&gt;&gt; for _ in x:print _,
... 
Hello World !!!
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;

#define foreach(it, x,...) \
   for(char **it=x;*it;it++) {__VA_ARGS__}

int main(int argc, char *argv[]) {
   char *x[] = {"Hello","World",
                "!!!",NULL};
   foreach(it,x,
      printf("%s ",*it);  
   )
   printf("\n");
   return 0;
}
</pre>

<h3>Simple OOP in C</h3>
<h5>Python</h5>
<pre class="code python">
# common declaration
&gt;&gt;&gt; class obj(object):
...     def __init__(self):
...         self.a = 0
...         self.b = 0
...     def add(self):
...         return self.a + self.b
...     def sub(self):
...         return self.a - self.b
...     
&gt;&gt;&gt; o = obj()
&gt;&gt;&gt; o.a = 9527
&gt;&gt;&gt; o.b = 5566
&gt;&gt;&gt; o.add()
15093
&gt;&gt;&gt; o.sub()
3961
# patch class (more like ooc)
&gt;&gt;&gt; class obj(object):
...     def __init__(self):
...         self.a = 0
...         self.b = 0
... 
&gt;&gt;&gt; def add(self):
...     return self.a+self.b
... 
&gt;&gt;&gt; def sub(self):
...     return self.a - self.b
... 
&gt;&gt;&gt; obj.add = add
&gt;&gt;&gt; obj.sub = sub
&gt;&gt;&gt; o = obj()
&gt;&gt;&gt; o.a = 9527
&gt;&gt;&gt; o.b = 5566
&gt;&gt;&gt; o.add()
15093
&gt;&gt;&gt; o.sub()
3961
</pre>
<h5>C</h5>
<pre class="code c">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct object Obj;
typedef int (*func)(Obj *);

struct object {
   int a;
   int b;
   // virtual
   func add; 
   func sub;
};
int add_func(Obj *self) {
   return self-&t;a + self-&gt;b;
}
int sub_func(Obj *self) {
   return self-&gt;a - self-&gt;b;
}
int init_obj(Obj **self) {
   *self = malloc(sizeof(Obj));
   if (NULL == *self) {
      return -1;
   }
   (*self)-&gt;a = 0;
   (*self)-&gt;b = 0;
   (*self)-&gt;add = add_func;
   (*self)-&gt;sub = sub_func;
   return 0;
}

int main(int argc, char *argv[]) {
   Obj *o = NULL;
   init_obj(&o);
   o-&gt;a = 9527;
   o-&gt;b = 5566;
   printf("add = %d\n",o-&gt;add(o));
   printf("sub = %d\n",o-&gt;sub(o));
   return 0;
}
</pre>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
