{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Ruby Socket Cheat Sheet</h1>
   <p>Cheat sheet of Ruby. Some basic socket concepts for a newbie Ruby programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Simple Echo TCPServer</h3>
<pre class="code ruby">
require 'socket'

port = 9527

server = TCPServer.new port
loop do
  client = server.accept
  msg = client.gets
  client.puts msg
  client.close
end

# bash&gt; nc localhost 9527
# Hello World
# Hello World
</pre>

<h3>Simple Echo TCP Socket Server</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

host = '0.0.0.0'
port = 9527

s = Socket.new(AF_INET, 
               SOCK_STREAM, 0)
s.setsockopt(SOL_SOCKET, 
             SO_REUSEADDR, true)
saddr = Socket.sockaddr_in(port, host)
s.bind(saddr)
s.listen(5)

loop do
  conn, addr = s.accept
  msg = conn.gets
  conn.puts msg
  conn.close
end
</pre>

<h3>Simple Echo UDPSocket Server</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

host = '0.0.0.0'
port = 9527

begin
  s = UDPSocket.new
  s.bind(host, port)
  loop do
    msg, addr = s.recvfrom 1024
    puts msg
    s.send msg ,0 ,addr[2], addr[1]
  end
ensure
  s.close
end
# bash&gt; nc -u 192.168.1.50 9527
# Hello Ruby
# Hello Ruby
</pre>

<h3>Simple Echo UDP Socket Server</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

host = '0.0.0.0'
port = 9527
BUF_SIZE = 1024

s = Socket.new(AF_INET,
               SOCK_DGRAM, 0)
s.setsockopt(SOL_SOCKET,
             SO_REUSEADDR, true)
saddr = Socket.sockaddr_in(port, host)

begin
  s.bind(saddr)
  loop do
    msg ,addr= s.recvfrom(BUF_SIZE)
    saddr = Socket.sockaddr_in(
       addr.ip_port,
       addr.ip_address)
    s.send msg, 0, saddr
  end
ensure
    s.close
end

# bash&gt; nc -u 192.168.99.1 9527
# Hello Ruby
# Hello Ruby
</pre>


</div>

<div class="row col-md-4 col-xs-12">

<h3>Ruby UDP Broadcast - Client</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

host = '255.255.255.255'
port = 9527

begin
  s = Socket.new(AF_INET, SOCK_DGRAM, 0)
  s.setsockopt(SOL_SOCKET,
               SO_BROADCAST, true)
  saddr = Socket.sockaddr_in(port ,host)
  s.send "Hello Ruby", 0, saddr
ensure
  s.close
end

# bash&gt; nc -k -w 1 -ul 9527
# Hello Ruby
</pre>

<h3>Ruby UDP Broadcast - Server</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

host = '0.0.0.0'
port = 9527

s = Socket.new(AF_INET, SOCK_DGRAM, 0)
s.setsockopt(SOL_SOCKET,
             SO_REUSEADDR, true)
saddr = Socket.sockaddr_in(port, host)

begin
  s.bind(saddr)
  loop do
    msg ,addr = s.recvfrom 1024
    puts msg
    p addr
  end
ensure
  s.close
end
# bash1&gt; ruby sock.rb
# bash2&gt; socat - udp-datagram:\
# &gt; 255.255.255.255:9527,broadcast
# Hello Ruby
</pre>

<h3>Simple Echo UNIX Socket Server</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

unix_addr = "ruby_unix.sock"

begin
  s = Socket.new(AF_UNIX, SOCK_STREAM, 0)
  saddr = Socket.sockaddr_un(unix_addr)
  s.bind(saddr)
  s.listen(10)
  loop do
    conn, addr = s.accept
    msg = conn.gets
    conn.puts msg
    conn.close
  end
ensure
  if not s.closed?
    s.close
  end
  if File.exist? unix_addr
    File.unlink unix_addr
  end
end

# bash&gt; nc -U ruby_unix.sock
# Hello Ruby
# Hello Ruby
</pre>

<h3>Async Socket Server - Thread</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

host = '0.0.0.0'
port = 9527

s = Socket.new(AF_INET,
               SOCK_STREAM, 0)
s.setsockopt(SOL_SOCKET, 
             SO_REUSEADDR, true)
saddr = Socket.sockaddr_in(port, host)

def echo_task client
  begin
    loop do
      msg =  client.gets
      client.puts msg
    end
  ensure
    client.close
  end
end

begin
  s.bind(saddr)
  s.listen(10)
  loop do
    conn, addr = s.accept
    Thread.new {echo_task(conn)}
  end
ensure
  s.close
end

# bash1&gt; nc localhost 9527
# Hello Ruby
# Hello Ruby
# bash2&gt; nc localhost 9527
# Ruby World
# Ruby World
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Async Socket Server - IO.select</h3>
<pre class="code ruby">
require 'socket'
include Socket::Constants

host = '0.0.0.0'
port = 5566

s = Socket.new(AF_INET,
               SOCK_STREAM, 0)
s.setsockopt(SOL_SOCKET, 
             SO_REUSEADDR, true)
saddr = Socket.sockaddr_in(port, host)
wait_r = [s]
wait_w = [] 
write_msg = {}
begin
  s.bind(saddr)
  s.listen(20)
  loop do 
    r, w, _ = IO.select(wait_r, 
                        wait_w, nil)  
    # process ready to read
    r.each { |sock|
      if sock == s 
        conn , addr = s.accept
        wait_r.push(conn)
      else
        msg = sock.gets
        if not msg
          sock.close
        else
          wait_w.push(sock)
          write_msg[sock.fileno] = msg
        end
        wait_r.delete(sock)
      end
    }
    # process ready to write
    w.each { |sock|
      msg = write_msg[sock.fileno] 
      sock.puts msg
      write_msg.delete(sock.fileno) 
      wait_r.push(sock)
      wait_w.delete(sock)
    }
  end
ensure
  s.close
end

# bash1&gt; nc localhost 5566
# Hello Ruby
# Hello Ruby
# bash2&gt; nc localhost 5566
# Ruby Hello
# Ruby Hello
</pre>
</div>

{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
