{% extends "layout.html" %}

{% block jumbotron %}
<div class="jumbotron">
   <h1>Ruby Cheat Sheet</h1>
   <p>Cheat sheet of Ruby. Some basic concepts for a newbie Ruby programmer need to know.</p>
</div>
{% endblock %}

{% block body %}
<div class="row col-md-4 col-xs-12">

<h3>Ruby Indentation</h3>
<pre class="code ruby">
# Use two spaces per indentation level
# ref: <a href="https://github.com/bbatsov/ruby-style-guide">ruby-style-guide</a>
def spam_method
  puts "spam"
end
</pre>

<h3>Ruby Naming Styles</h3>
<pre class="code ruby">
# constant: SCREAMING_SNAKE_CASE 
SOME_CONST = 9527

# variable: snake_case
this_is_var

# methods: snake_case
def spam_method
  puts "spam"
end

# class: CamleCase
class CamleCase
  def spam_method
    puts "sapm" 
  end
end

# file: snake_case
ruby_test.rb

# directory: snake_case
ruby_pkg/ruby_test.rb
</pre>

<h3>Ruby Comments</h3>
<pre class="code ruby">
# donnot use block comment
# bad
=begin
- Hello
- World
=end

# good
# - Hello
# - World
</pre>

<h3>Ruby use ";"</h3>
<pre class="code ruby">
# donnot use ";" between two exp
# bad
puts "Hello"; puts "World"
# good 
puts "Hello"
puts "World"

# prefer use ";" with nobody
def spam_method; end
</pre>

<h3>Ruby variable type</h3>
<pre class="code ruby">
# $global_variable
module Spam1
  $var = 5566
end
puts $var
module Spam2
  $var = 9527
end
puts $var
# bash&gt; ruby ex.rb
# 5566
# 9527

# @@class_variable
class Spam
  @@class_count = 0
  def initialize
    @@class_count += 1
  end
  def print_count
    puts @@class_count
  end
end
o1 = Spam.new
o1.print_count
o2 = Spam.new
o1.print_count
# bash&gt; ruby ex.rb
# 1
# 2

# @instance_variable
class Spam
  def initialize(spam)
    @spam = spam
  end
  def print_spam
    puts @spam
  end
end
o1 = Spam.new(9527)
o2 = Spam.new(5566)
o1.print_spam
o2.print_spam
# bash&gt; ruby ex.rb
# 9527
# 5566

# classname::CONSTANT
class Spam
  SPAM_CONST = 5566
end
puts Spam:: SPAM_CONST
# bash&gt; ruby ex.rb
# 5566 

# local_variable
def spam
  local_var = 9527
  puts local_var 
end
spam
spam
# bash&gt; ruby ex.rb
# 9527
# 9527
</pre>

<h3>Ruby "symbol"</h3>
<pre class="code ruby">
# :symbol =&gt; colon + string 
# symbol contains 'string' and 'number'
# symbol object id
&gt;&gt; :hello.object_id
=&gt; 547208
# assign a symbol to var
&gt;&gt; a = :hello
=&gt; :hello
&gt;&gt; a.object_id
=&gt; 547208
# symbol to string
&gt;&gt; :hello.to_s
=&gt; "hello"
</pre>

<h3>help and methods</h3>
<pre class="code ruby">
# get help
help File
# get all methods of object
nil.methods
</pre>

<h3>if ... else Statement</h3>
<pre class="code ruby">
if true
  puts "Hello"
else
  puts "World"
end

# one line statement
puts "true" if true
</pre>

<h3>unless ... else Statement</h3>
<pre class="code ruby">
unless true
  puts "Hello"
else
  puts "World"
end

# same as 
if not true
  puts "Hello"
else
  puts "World"
end

# one line statement
&gt;&gt; puts "Hello" unless false
Hello
=&gt; nil
</pre>

<h3>case ... when Statement</h3>
<pre class="code ruby">
&gt;&gt; a = 'hello'
=&gt; "hello"
&gt;&gt; case a
.. when 'hello'
..   print 'hello'
.. else
..   print 'world'
.. end
hello=&gt; nil

# case statement with range
&gt;&gt; a = 5566
=&gt; 5566
&gt;&gt; case a
.. when 0 .. 5
..   print 'hello'
.. else 
..   print 'world'
.. end
world=&gt; nil
</pre>
</div>

<div class="row col-md-4 col-xs-12">

<h3>Range in Ruby</h3>
<pre class="code ruby">
# (0..3) =&gt; [0, 1, 2, 3]
# (0...3) =&gt; [0, 1, 2]
&gt;&gt; a = (1..5).to_a
=&gt; [1, 2, 3, 4, 5]
&gt;&gt; a = (0...3).to_a
=&gt; [0, 1, 2]
&gt;&gt; a = ('a'..'d').to_a
=&gt; ["a", "b", "c", "d"]

# "in statement" in ruby 
# for Array
&gt;&gt; a = (1..5).to_a
=&gt; [1, 2, 3, 4, 5]
&gt;&gt; a.class
=&gt; Array
&gt;&gt; a.include?3
=&gt; true

# for Range 
&gt;&gt; a = 1..5
=&gt; 1..5
&gt;&gt; a.class
=&gt; Range
&gt;&gt; a.include?3
=&gt; true
# test 3 in (1..5) via "==="
&gt;&gt; print true if (1..5) === 3
true=&gt; nil

# traverse "Range"
&gt; a.each do |i|
..   print i, ' '
.. end
1 2 3 4 5 =&gt; 1..5
</pre>

<h3>Some Array Operations</h3>
<pre class="code ruby">
# gen some len of array
&gt;&gt; a = [0]*5
=&gt; [0, 0, 0, 0, 0]

# gen array from range
&gt;&gt; a = (1..5).to_a
=&gt; [1, 2, 3, 4, 5]

# push item to an array
&gt;&gt; (1..3).each do |i|
..   a.push(i**2)
.. end
=&gt; 1..3
&gt;&gt; a
=&gt; [1, 4, 9]

# check array empty
&gt;&gt; a.empty?
=&gt; true

# get items from array
&gt;&gt; a = [1,2,3,4,5]
=&gt;[1, 2, 3, 4, 5]
&gt;&gt; a[-1]
=&gt;5
&gt;&gt; a[-3]
=&gt;3
&gt;&gt; a[-3..-1]
=&gt;[3, 4, 5]
&gt;&gt; a = (1..5) .map {|i| i*2}
=&gt; [2, 4, 6, 8, 10]
&gt;&gt; a[1..3]
=&gt; [4, 6, 8]
&gt;&gt; len = a.length
=&gt; 5
&gt;&gt; (1..len-1).step(2).map {|i| a[i]}
=&gt; [4, 8]
</pre>

<h3>Some Hash Operations</h3>
<pre class="code ruby">
# basic assign val to hash
&gt;&gt; a = {'1'=&gt;1,'2'=&gt;2}
=&gt; {"1"=&gt;1, "2"=&gt;2}
&gt;&gt; a['3'] = 3
=&gt; 3
</pre>

<h3>while Statement</h3>
<pre class="code ruby">
&gt;&gt; while i &lt; 3
..   i += 1
..   puts i
.. end
1
2
3
=&gt; nil

# ruby do while statement
&gt;&gt; i = 0
=&gt; 0
&gt;&gt; begin
..   puts i
..   i += 1
.. end while i &lt; 3
0
1
2
=&gt; nil
</pre>

<h3>until Statement</h3>
<pre class="code ruby">
&gt;&gt; i = 3
=&gt; 3
&gt;&gt; until i &lt; 0
..   print i, ' '
..   i -= 1
.. end
3 2 1 0 =&lt; nil

# equal to
&gt;&gt; i = 3
=&gt; 3
&gt;&gt; while not i &lt; 0
..   print i, ' '
..   i -= 1
.. end
3 2 1 0 =&gt; nil

# begin ... until statement
&gt;&gt; i = 3
=&gt; 3
&gt;&gt; begin
..   print i, ' '
..   i -= 1
.. end until i &lt; 0
3 2 1 0 =&gt; nil
</pre>

<h3>for loop</h3>
<pre class="code ruby">
# using each
&gt;&gt; (0...5).each do |i|
..   print "#{i} "
.. end
0 1 2 3 4 =&gt;&gt; 0...5

# for loop
&gt;&gt; for i in 0..3
..   print "#{i} "
.. end
0 1 2 3 =&gt; 0..3
</pre>

<h3>break Statement</h3>
<pre class="code ruby">
&gt;&gt; for i in 0..3
..   if i &gt; 1
..     break
..   end
..   print "#{i} "
.. end
0 1 =&gt; nil
</pre>

<h3>next Statement</h3>
<pre class="code ruby">
# just like c - continue
&gt;&gt; for i in 0..3
..   if i &lt; 2
..     next
..   end
..   print "#{i} "
.. end
2 3 =&gt; 0..3
</pre>

<h3>redo Statement</h3>
<pre class="code ruby">
# restart loop
&gt;&gt; flag = false
=&gt; false
&gt;&gt; for i in 0..5
..   if i &gt; 3 and flag == false
..     puts 'redo'
..     flag = true
..     redo
..   end
..   print i, ' '
.. end
0 1 2 3 redo
4 5 =&gt; 0..5
</pre>

<h3>Ruby Error Handling</h3>
<pre class="code ruby">
# begin...rescue...ensure
&gt;&gt; begin 
..   1/0
.. rescue
..   ZeroDivisionError^C
&gt;&gt; begin 
..   1/0
.. rescue ZeroDivisionError
..   puts 'divide by 0'
.. ensure
..   puts 'ruby finally'
.. end
divide by 0
ruby finally
=&gt;nil
</pre>

</div>

<div class="row col-md-4 col-xs-12">

<h3>Methods (Functions)</h3>
<pre class="code ruby">
# no arguments
&gt;&gt; def spam
..   puts "spam"
.. end
=&gt; nil
&gt;&gt; spam
spam
=&gt; nil

# with arguments
&gt;&gt; def spam(a,b)
..   return a+b
.. end
=&gt; nil
&gt;&gt; print spam(1,2)
3=&gt; nil

# with default input
&gt;&gt; def spam(a=3,b=1,c)
..   puts a, b, c
..   return a+b+c
.. end
=&gt; nil
&gt;&gt; ret = spam(2,3)
2
1
3
=&gt; 6
&gt;&gt; ret = spam(5)
3
1
5
=&gt; 9

# with keyword arguments (&gt;ruby2.0)
&gt;&gt; def spam(a, p:3)
..   puts a, p
.. end
=&gt;nil
&gt;&gt; spam(2)
2
3
&gt;&gt; spam(2,p:5)
2
5
=&gt;nil

# variable number of parameters
&gt;&gt; def spam(*args)
..   print args
.. end
=&gt; nil
&gt;&gt; spam(1,2,3,'ker')
[1, 2, 3, "ker"]=&gt; nil

# without parentheses style
&gt;&gt; def spam var1, var2
..   puts var1, var2
.. end
=&gt; nil
&gt;&gt; spam :hello, :world
hello
world
=&gt; nil
</pre>

<h3>Question Mark "?"</h3>
<pre class="code ruby">
# "?" is valid at the end of a method
# ref: <a href=http://stackoverflow.com/questions/1345843/what-does-the-question-mark-operator-mean-in-ruby>What does "?" mean in Ruby?</a>
&gt;&gt; def spam?
..   return true
.. end
=&gt; nil
&gt;&gt; spam?
=&gt; true
</pre>

<h3>Exclamation Mark "!"</h3>
<pre class="code ruby">
# "!" imply method should use carefully
# ref: <a href="http://stackoverflow.com/questions/612189/why-are-exclamation-marks-used-in-ruby-methods">stackoverflow</a> 
# downcase! wiil change original var
&gt;&gt; foo = "KER"
=&gt;"KER"
&gt;&gt; foo.downcase!
=&gt;"ker"
&gt;&gt; puts foo
ker
# downcase will not chage original var
=&gt;nil
&gt;&gt; foo = "KER"
=&gt;"KER"
&gt;&gt; foo.downcase
=&gt;"ker"
&gt;&gt; puts foo
KER
=&gt;nil
</pre>

<h3 class="code ruby">Ruby Block</h3>
<pre class="code ruby">
# block:
# - chunk of code
# - invoked from a func
# - with same name of invoked func
# - using yield statement
&gt;&gt; def spam
..   puts 'in the function'
..   yield
.. end
=&gt; nil
&gt;&gt; spam {puts 'in the block'}
in the function
in the block
=&gt; nil

# send argument to block
&gt;&gt; def spam
..   puts 'in the function'
..   yield 'Hello World'
.. 
&gt;&gt; def spam
..   puts 'in the function'
..   yield 'Hello World'
.. end
=&gt; nil
&gt;&gt; spam {|i| puts i}
in the function
Hello World
=&gt; nil

# equal to
&gt;&gt; spam {|i| puts i}
in the function
Hello World
=&gt; nil
&gt;&gt; def spam(&block)
..   block.call('Hello World')
.. end
=&gt; nil
&gt;&gt; spam {|i| puts i}
Hello World
=&gt; nil
</pre>

<h3>"do...end" VS. "{}"</h3>
<pre class="code ruby">
# similar behavior
&gt;&gt; def spam
..   puts "spam running..."
..   yield
.. end
=&gt; nil
&gt; spam {
..   puts "brackets block"
.. }
spam running...
brackets block
=&gt; nil
&gt;&gt; spam do 
..   puts "do...end block"
.. end
spam running...
do...end block
=&gt; nil

# different between them
# ref: <a href="http://stackoverflow.com/questions/2122380/using-do-block-vs-brackets">stackoverflow</a>
def spam_hello(var)
  puts __method__
  puts "arg: #{var}"
  if block_given?
    puts "block=&gt;#{__method__}"
    return "#{__method__} block run"
    yield
  else
    puts "no block to #{__method__}" 
  end
end

def spam_world
  puts __method__
  if block_given?
    puts "bloc=&gt;#{__method__}"
    return "#{__method__} block run"
  else
    puts "no block to #{__method__}"
  end
end

puts "=== do...end ==="
spam_hello spam_world do
  |x| puts x
end
puts "=== brackets ==="
spam_hello spam_world { 
  |x| puts x
}
# output:
# === do...end ===
# spam_world
# no block to spam_world
# spam_hello
# arg: 
# block=&gt;spam_hello
# === brackets ===
# spam_world
# bloc=&gt;spam_world
# spam_hello
# arg: spam_world block run
# no block to spam_hello

</pre>
</div>
{% endblock %}

{% block script %}
{{ super() }}

{% endblock %}
